[2017-07-12 07:04] vnitinv commented on #759
@sincerywaing Yes, we can. To help, can you please share the snippet of your code.

[2017-07-12 07:14] sincerywaing commented on #759
@vnitinv thanks for help.

my code is very easy - which use napalm as the mid layer.  with below code I just got below error:

[code]

**but how can we get the command generate above error?**

[code]

[2017-07-12 17:20] vnitinv commented on #759
@sincerywaing So your config file itself has syntax errors with respect junos. If you try loading the same file from cli, you will get the same errors.

[2017-07-12 20:19] #757 closed

[2017-07-13 00:08] sincerywaing commented on #759
@vnitinv yes but is it possible to return the command caused the error?

[2017-07-13 02:29] sincerywaing commented on #759
Yes you are correct. So I just wondering if we can return the cmd caused the error during exception handling?

Sent from my iPhone

[2017-07-13 03:31] vijay-shetty commented on #759
@sincerywaing  I had written a pyez (v2.0.1) script last year, posting it below thinking it might help you.

[code]

[2017-07-13 06:28] sincerywaing commented on #759
@vijay-shetty this one looks like what I need. but with napalm it seems difficult to separate junos exception from others?

[2017-07-14 05:59] vijay-shetty commented on #759
@sincerywaing I have never used napalm so I can't comment on this.

[2017-07-15 05:40] sincerywaing commented on #759
@vijay-shetty thanks. I'll open an issue wih napalm and reference this one.

[2017-07-15 05:40] #759 closed

[2017-07-27 14:48] Von-dy opened #763 "Show Interface Terse - Pull All Interfaces w/o Name"
Hey, I am trying to use the EthPortTable YAML or the get-interface-information RPC in general and I was wondering if there is a way to have them return more than a single interface and more importantly get all interface information without a name. Currently if I run the get-interface-information RPC I end up with the last entry in the table whereas if I was on a Junos Device, I would be able to vi

[2017-07-27 16:38] Von-dy commented on #763
I found the issue with why the get-interface-information was not working. I was using the {['format':'json']} argument and that was breaking the output. It would only output the last entry of the table, removing the format argument returns all interfaces. This is still probably something that should be fixed.

[2017-07-27 16:49] stacywsmith commented on #763
Unfortunately, that's a bug with the JSON output which Junos is producing for the `<get-interface-information>` RPC and not a bug with PyEZ. Please open a JTAC case to address that within Junos. You can tell the JTAC engineer that this may be a case of Junos internal PR 1088814.

[2017-08-03 05:07] vnitinv commented on #520
This is fixed. We do call above line only if dev.connected is True.

[2017-08-03 05:07] #520 closed

[2017-08-03 22:28] stacywsmith commented on #763
Needs to be addressed in Junos.

[2017-08-03 22:28] #763 closed

[2017-08-08 04:45] vnitinv opened #766 "connected using localhost on-box, StartShell usage throws exception"
When PyEZ running on-box and connected using localhost, StartShell usage throws exception
We should provide a proper error message and also document the same.

[code]

[2017-08-09 11:23] ejmmanning opened #768 "jnpr.junos.utils.sw import SW"
I am using the program example from Juniper on upgrading SRX. I have change the program a little but I am get the following errors when it try to install the software.

 Unable to install software, [Errno 111] Connection refused
Unable to install software, False.

I am using version  junos-eznc (2.1.1)  junos-netconify (1.0.2).

Below is the code.

import os, sys, logging
from jnpr.junos import De

[2017-08-09 11:37] vnitinv commented on #768
@ejmmanning Can you change the logging level to DEBUG (level=logging.DEBUG) and share full trace. If you have netconf log, do share that too.

[2017-08-09 11:51] ejmmanning commented on #768
vnitinv Thank you for the quick response I figure it out. I needed to use the ssh and not telnet thank you

[2017-08-09 11:51] #768 closed

[2017-08-09 11:51] ejmmanning commented on #768
Thank you for the help

[2017-08-09 12:09] ejmmanning opened #769 "software install"
I am getting this error when I am trying to use the jnpr.junos.utils.sw install() Method.
Does it not support SRX210-POE/

Thank you very much

Unable to install software, RpcError(severity: error, bad_element: None, message: command is not valid on the srx210he2-poe)
Unable to install software, False

[2017-08-09 15:16] rucarrol opened #770 "Empty bgp-rib in bgp-peer causing traceback in jnpr/junos/factory/view.py"
Hey,

So I'm not 100% sure on how to solve this.

Given a table definition:

[code]

It works pretty ok, however we do have a few peers which reply with an XML envelope as follows (peer-as changed):

[code]
We notice that this peer does not return `<bgp-rib junos:style="terse">`.

Due to this, we bail out here:

[code]

What's happening is that we're hitting this piece of code:

[code]

`name` in

[2017-08-09 15:21] stacywsmith commented on #770
@rucarrol Can you please provide the full XML output from the RPC?

[2017-08-09 15:23] rucarrol commented on #770
Hey @stacywsmith , unfortunately, I cannot. This is in production and it's got some info I cant paste :(

What are you after, specifically?

[2017-08-09 15:26] stacywsmith commented on #770
@rucarrol I'm OK with sanitized/truncated output, but I'd like to see a `<bgp-peer>` element for a working peer, and I would also like to see the overall structure of the XML response. i.e. I assume there's some XML element(s) between `<rpc-reply>` and `<bgp-peer>`.

[2017-08-09 15:35] rucarrol commented on #770
@stacywsmith : Attached is a working/non working very sanitised rpc reply.

You'll note that:

1. I've only left inet.0 as bgp-rib.
2. Peer 10.250.0.4 (ie: first peer) has a bgp-rib defintion pointing back towards 1)
3. Peer 10.250.6.4 (ie: last peer) does not have a bgp-rib

[working_non_working.txt](https://github.com/Juniper/py-junos-eznc/files/1211983/working_non_working.txt)

Is this enough t

[2017-08-09 23:28] stacywsmith commented on #769
@ejmmanning Please provide the exact line from your script where you're calling the `install()` method.

Also, please provide the current version of Junos running on your SRX210-POE.

This generally looks like you've provide some option to the `install()` method which is not understood by your particular platform.

[2017-08-10 17:39] ejmmanning commented on #769
Hello Stacy

Here is the info

ry:
    logging.info <http://logging.info/>('Starting the software upgrade process: {0}' \
        .format(package))
    ok = sw.install(package=package, remote_path=remote_path,
         progress=update_progress, validate=False, no_copy=False )

The  code junos-srxsme-12.1X46-D30.2-domestic.tgz

Thank you

[2017-08-10 17:42] stacywsmith commented on #769
@ejmmanning Is `junos-srxsme-12.1X46-D30.2-domestic.tgz` the code that's running on the device at the time the script is executed?

If so, what's the value of the `package` and `remote_path` variables?

[2017-08-10 17:44] stacywsmith commented on #769
It would be great if you could provide NETCONF traceoptions.
[code]

Re-execute you script and then provide the resulting netconf.log file.

[2017-08-11 07:06] vnitinv commented on #770
@rucarrol I see your table/view contains key as `key: peer-id`
But the xml attached by you dont have any `peer-id` tag. Can you please confirm.
You can change key to `peer-address` and give a try. It should work

[2017-08-11 13:38] ejmmanning commented on #769
Stacy

Any Idea why its having a problem

[2017-08-11 14:35] stacywsmith commented on #769
@ejmanning As I said earlier, there seems to be something about the NETCONF RPC that PyEZ is generating that your device doesn't like. In general, you're code looks fine, so it may be an issue specific to the to or from version of Junos. Having the details on the exact to and from versions of Junos and the NETCONF traceoptions should help answer the question.

[2017-08-14 14:12] rucarrol commented on #770
Hey @vnitinv !

I _think_ that has done the trick (Based on my limited testing so far). Thank you!

[2017-08-17 15:56] DeepSpace2 opened #774 "device.facts aren't gathered until printed (?) when using Device as a context manager"
I know the title is odd, but please consider the following code:

[code]
Unless I uncomment `print(device.facts)` all the facts at `devices_facts_cache[ip]` will have `None` as value. It is enough to uncomment `print(device.facts)` for the facts to be gathered. I've tried passing `gather_facts=True` to `Device(...)` but the issue still persists. Forcing new style doesn't make a change either.

I'm

[2017-08-17 18:07] stacywsmith commented on #774
@DeepSpace2

With the default "new style" fact gathering introduced in PyEZ 2.1.0, this is expected behavior. There's also a fairly simple workaround.

Previously, the `facts` attribute was a standard Python dictionary, and querying of the device to populate the facts occurred at the time that `device.facts_refresh()` was called (either directly or indirectly via `device.open()`.)  Fact gathering

[2017-08-17 18:07] #774 closed

[2017-08-17 18:19] DeepSpace2 commented on #774
@stacywsmith 👍

[2017-08-17 21:42] tach47 opened #775 "allow_agent boolean is broken"
https://github.com/Juniper/py-junos-eznc/blob/8016b515284a561ed5b4693e0a01c691ccc9e0de/lib/jnpr/junos/device.py#L1238

The intended result can be achieved with `(self._ssh_private_key_file is not None)) `

[2017-08-17 23:42] tach47 commented on #775
https://github.com/Juniper/py-junos-eznc/blob/8016b515284a561ed5b4693e0a01c691ccc9e0de/lib/jnpr/junos/device.py#L401-L407

Looks like my SSH config defines my key through a IdentityFile variable, which created this scenario.

Added a couple debugging lines around device.py#L1238 to show the variables called.

[code]

[2017-08-17 23:42] #775 closed

[2017-08-21 10:26] #670 closed

[2017-08-31 22:39] njayarama opened #777 "RuntimeWarning: An unknown exception occured - please report."
unable to pull huge file of 'messages' from device with rpc.get_log. what is a better solution to search 'log messages' from device?

code snippet:
        dev = Device(host=ibx_fqdn, user=sw_user, passwd=sw_passwd).open()
        dev.timeout = 3000
        with open('local.log', 'w') as fp:
                fp.write(dev.rpc.get_log(filename='messages').text)     #to save in local copy
        dev.

[2017-09-01 04:32] stacywsmith commented on #777
Please see https://github.com/ncclient/ncclient/issues/185

You can apply the fix from here:
https://github.com/ncclient/ncclient/pull/186/files

This hasn't been committed to ncclient because it's not necessarily the ideal way to solve the problem. However, it will avoid your issue and work correctly.

--Stacy

On Aug 31, 2017, at 4:39 PM, njayarama <notifications@github.com<mailto:notifications@

[2017-09-02 04:17] njayarama commented on #777
Thank you for your prompt reply.

[2017-09-02 19:29] #777 closed

[2017-09-13 00:08] lampwins opened #780 "Timeout for Device.open()"
I have been going through the code and scratching my head as to how to get `Device` to timeout in a reasonable amount of time when I first call `open()`. The specific scenario is to have netconf enabled on the device via ssh but the protect RE firewall filter does not allow netconf access. On such a device it takes upwards or 2 minutes to timeout the connection on `open()` which gets extremely ann

[2017-09-13 03:54] stacywsmith commented on #780
@lampwins
We don't yet support passing an initial connection timeout argument, although I agree it would be beneficial.

As an alternative, you can set the `auto_probe` argument to the `Device()` instantiation or the `open()` method. The `auto_probe` argument attempts to make a TCP connection to the the `port` (default 830) TCP port. If the TCP connection can't be competed within the `auto_probe`

[2017-09-13 04:20] derfWayne commented on #780
John,
You can call dev.timeout and set it to the value you want to timeout at.

from jnpr.junos.device import Device
dev = Device(host='r0', user='user', passwd='user123', port=666)
dev.open(auto_probe=5)
dev.timeout = timeout

[2017-09-13 17:15] lampwins commented on #780
@stacywsmith thank you. I have been playing with `auto_probe` and it does cover some of the use cases but I agree that a proper timeout on `open()` would be more appropriate.

@derfWayne My understanding is that is the timeout for successive rpc's. My issue is the timeout of the initial device connection via `open()`.

[2017-09-13 17:18] stacywsmith commented on #780
That's correct. The `dev.timeout` attribute sets the default timeout for RPC responses and doesn't effect the connection timeout (in spite of some incorrect documentation that says otherwise.)

[2017-09-13 17:19] stacywsmith commented on #780
Let's use this issue to track that.

[2017-09-22 13:00] ckozler opened #781 "Linked documentation has SSL error"
https://techwiki.juniper.net/Projects/Junos_PyEZ

Reports:

This server could not prove that it is techwiki.juniper.net; its security certificate is from origin-www.juniper.net

[2017-09-22 13:06] vnitinv commented on #781
@ckozler From where you got the reference for above link?

[2017-09-22 13:13] ckozler commented on #781
On the readme under documentation on main page of the project

Junos PyEZ wiki page, here.

"Here" brings you to the techwiki page I linked

[2017-09-22 16:05] vnitinv commented on #781
@ckozler Thanks for noticing this. Will get this fixed.

[2017-09-24 22:38] #781 closed

[2017-09-26 20:55] s2105 opened #784 "configure private issue"
Hello,

I am trying to put the following configuration to my script having an issue.

Device(192.168.1.1)

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/jnpr/junos/utils/config.py", line 533, in load
    ignore_warning=ignore_warning)
  File "/Library/Frameworks/Python.framework/Version

[2017-09-26 23:14] stacywsmith commented on #784
It looks like there are probably a couple of issues here.

1) Your code is not actually using private configuration mode. It's attempting to use the default shared configuration mode. See [this comment](https://github.com/Juniper/py-junos-eznc/blob/master/lib/jnpr/junos/utils/config.py#L729-L730). In order to use the `mode` argument, you must use the `Config()` instance as a context manager.

2) I

[2017-09-27 14:46] s2105 commented on #784
Hello Stacy,

Yes, you are right about the device has a CLI session which is in "configure private" and we would like to implement that way. But your advice and code here work us, thank you very much for that and here my part of code, I have to modify to work

def deployConfig(my_device_list_dict, my_username, my_password, my_config_template_file):
	my_hostname=""
	try:
		my_hostname=my_device_lis

[2017-09-27 15:32] #784 closed

[2017-11-08 20:06] wilmington opened #794 "TypeError: with python 3.4 and savexml"
I'm seeing an issue with python 3.4.3 on OSX that I don't see using python 2.7.6

I'm a bit of a nimrod python scripture but perhaps related to the mode in which "savexml" opens files to save to?

results in

[2017-11-09 21:46] wilmington commented on #794
Fixed, many thanks - even better my hunch was right, should have trusted myself to fix it ;)

[2017-11-09 21:46] #794 closed

[2017-11-10 04:16] vnitinv commented on #794
@wilmington we should always trust ourself :)
Please do send a pull request anytime if you feel that going to add value.

[2017-11-14 23:48] stacywsmith opened #797 "Provide PyEZ fact for 32/64-bit kernel"
This tracks the functionality requested in Juniper/ansible-junos-stdlib#174.

Provide a new PyEZ fact to indicate if the installed kernel is 32-bit or 64-bit.

Might also be helpful to indicate if RPD is running 32-bit or 64-bit.

[2017-11-29 00:08] dmontagner opened #799 "AttributeError exception when loading XML configuration"
Hi there,

here is the xml configuration I am trying to load:

[code]

The code used to load the configuration in the router is:

[code]

When loading the configuration, I am getting this exception:

[code]

If I add a breakpoint in the code where it is throwing the exception, this is what I see:

[code]

[2017-11-29 00:10] dmontagner commented on #799
The problem is that at this stage, the configuration is not a XML tree yet.

My code is following this: [https://www.juniper.net/documentation/en_US/junos-pyez/topics/task/program/junos-pyez-program-configuration-data-loading.html](https://www.juniper.net/documentation/en_US/junos-pyez/topics/task/program/junos-pyez-program-configuration-data-loading.html)

[2017-11-29 00:26] dmontagner commented on #799
ok. I found the problem. Looks like in the past the following syntax was supported:

[code]

But looks like now the only supported syntax is:

[code]

[2017-12-15 06:30] stanley2k opened #800 "Get configuration from device failed, through PyEZ with customize table and view, mode telnet."
Hi Team,

Report an issue in my script,

1. I defined a table and view uses to extract data from xml "configuration/interfaces/interface" hierarchy, please see below table definition:

---
Link_Map_Table:
  get: interfaces/interface
  args_key: interface_name
  view: UserView

UserView:
  fields:
    interface_name: name
    unit_id: unit/name
    ip_address: unit/family/inet/address/name

2. I am

[2017-12-30 10:05] rucarrol commented on #770
Resolving this as not-a-bug.

[2017-12-30 10:05] #770 closed

[2018-01-04 07:28] rrashmi1 commented on #605
I had also  experienced this issue while running ansible playbook inside Docker in windows. when I tried the code in the same in the python terminal.
You can try updating ncclient and make sure your RSA keys are having same test as you've saved in the device. Keeping it same solved me to this issue.

Now i'm able to login to the device.

happy coding.!!!

[2018-01-10 20:36] stacywsmith opened #801 "SW._parse_pkgadd_response() does not correctly parse output from MX80 with nonexistent package."
It appears this is a Junos issue specific to the MX80 platform. If I attempt to install a package which doesn't exist, then this platform produces:
[code]

Notice that the error message produced is NOT an RPC error, but just a text string in an `<output>` element which happens to contain the string `ERROR`. There's also no `<package-result>` element.

On a VMX running the same version of Junos, I

[2018-01-12 21:28] darKnight18 opened #803 "Software installation utilities fails if the progress is a callback function within the class"
[jsnapy_V2.txt](https://github.com/Juniper/py-junos-eznc/files/1627541/jsnapy_V2.txt)
Software installation utilities

If the progress parameter in the install method within the software utility is a callback function defined inside a class fails with an error.
TypeError: update_progress() takes exactly 3 arguments (4 given)

     `class ConnectDevice():
           def __init__(self):

[2018-01-13 02:59] stacywsmith commented on #803
Analysis...

I am able to reproduce this problem with the following code:
[code]

When executed, I get the following output and traceback:
[code]

The issue is [here](https://github.com/Juniper/py-junos-eznc/blob/master/lib/jnpr/junos/utils/scp.py#L40-L52).

This code attempts to determine if the value of `progress` is a callable which takes 3 arguments in the format expected by the scp library, o

[2018-01-16 08:36] #803 closed

[2018-01-16 20:29] jigs2636 opened #808 "python3.6 ImportError: cannot import name 'config'"
Hello,

I'm getting following error.

[root@localhost Router_Test]# python3.6 test4.py
Traceback (most recent call last):
  File "test4.py", line 4, in <module>
    from jnpr.junos.utils.config import config
ImportError: cannot import name 'config'

**Here is the code**

#!usr/bin/python

from jnpr.junos import Device
from jnpr.junos.utils.config import config
import time

if __name__ == '__main__

[2018-01-16 20:38] stacywsmith commented on #808
should be:
[code]
that is `Config` not `config`

[2018-01-16 21:03] jigs2636 commented on #808
Thank you. That worked but got another error that i can't figured out since i just started playing with Python. Excuse me if its silly question.

I have config file in same directory as i'm running python.

root@localhost Router_Test]# ls
delete.set  test1.py  test2.py  test3.py  test4.py
[root@localhost Router_Test]# pwd
/home/Router_Test
[root@localhost Router_Test]#

[root@localhost Router_Test

[2018-01-16 21:05] jigs2636 commented on #808
Config files looks like this

protocols {
        bgp {
                group PYTHON-DEPLOY {
                        type internal;
                        local-address 10.0.0.1;
                        log-updown;
                        family inet {
                                unicast;
                        }

                }
        }
}

[2018-01-16 21:18] stacywsmith commented on #808
See the documentation [here](http://junos-pyez.readthedocs.io/en/stable/jnpr.junos.utils.html#jnpr.junos.utils.config.Config.load).

By default, the extension of the filename used as the `path` argument defines the format of the configuration being loaded. Since your path ends with `.set`, it's expecting the configuration to be in `set` syntax.

There are two options:
1) Rename the config file fro

[2018-01-16 21:31] jigs2636 commented on #808
I'm still get the below error. it seems like permission issue according the juniper docs but i'm sure that python-guru is configured as super-user. so doesn't seems permission issue to me.

https://www.juniper.net/documentation/en_US/junos-pyez/topics/task/troubleshooting/junos-pyez-configuration-errors-troubleshooting.html

[root@localhost Router_Test]# python3.6 test4.py
Traceback (most recent c

[2018-01-16 21:34] stacywsmith commented on #808
This seems to indicate that the configuration you are trying to load has a syntax error and is therefore not a valid configuration. The error is near the character `~`. Since that character isn't in the config snippet you provided, I can't really help more.

[2018-01-16 21:47] jigs2636 commented on #808
Thanks Stacy. It got resolved. Since i was using vi editor to write config file, it by default used tilde (~) at the end and that's what causing the issue.

Thank you again and much appreciate your help!!

[2018-01-16 22:01] #808 closed

[2018-01-19 23:19] darKnight18 opened #810 "Logger initialized with SW and JSNAPy module tend to print output multiple times on console and file"
[code]

**Console and File Output**
root@amoghv:/etc/jsnapy/testfiles#
root@amoghv:/etc/jsnapy/testfiles# python test.py
2018-01-19 15:09:24,129 - __main__ - INFO - computing checksum on local package: /var/tmp/junos/jinstall-ex-4200-15.1R6.7-domestic-signed.tgz
2018-01-19 15:09:24,371 - __main__ - INFO - cleaning filesystem ...
2018-01-19 15:09:24,371 - __main__ - INFO - cleaning filesystem ...
2

[2018-02-09 06:25] przygienda opened #812 "verbosity_level in rpc calls gets translated into verbosity-level"
example

cannot be called as

since it gets translated into "verbosity-level"

[2018-02-09 06:27] przygienda commented on #812
Work around is

dev.rpc.get_multicast_route_information( extensive = True, group = self.group)

but that should be documented somewhere?

[2018-02-09 13:54] stacywsmith commented on #812
This is a Junos bug. @vnitinv should be able to provide you with the PR number.

Up until recently, the output of `| display xml rpc` showed `<detail/>` or `<extensive/>` in its output. I am not aware of any justification  for this change in the API.

The main issue is that the Junos standard has always been to use dashes in tag names and never use underscores in tag names. The recent change in be

[2018-02-09 15:29] przygienda commented on #812
Agree with assesement. Generally, it's a bit of a nit but as you say, important. Can't have the one-back-offs. Very impressed with PyEz by the way, especially the Yaml->tables stuff (disclousure, I'm a JNPR employee but in a completely different corner of the shop). I played first with naked paramiko, then ncclient and all of them had tons issues until I caved in and went to PyEz.

[2018-02-19 17:37] vnitinv commented on #812
@przygienda , Internal PR number is 1305644

[2018-03-02 10:16] ric79 opened #814 "Compare configuration"
Hello,
I'm able to create, using ansible jinja2 templates, the config of a QFX node running in production environment. IE:

[code]

I would compare it with the "show configuration" executed on the production node:
[code]

Is there a way using pyez to compare the two configurations?
Unix diff is not really helping...

Rr

[2018-03-09 09:32] depamu opened #815 "ConnectionResetError appears, how to handle it?"
Hello,
when I run my script to get the information about the "Last flapped" status, the program stops at the following Interface with a ConnectionResetError (s. below)...

Can someone please, help me out here?
Thank you !

[code]

[2018-03-12 06:34] vnitinv commented on #815
@depamu We will need your script snippet to help you out.

[2018-03-12 06:56] vnitinv commented on #814
@ric79  As such in PyEZ we don't have a way to compare two such files. Thanks

[2018-03-12 07:14] ydnath commented on #814
Do you want to try https://github.com/Juniper/jsnapy

[2018-03-14 14:42] DamianZaremba opened #816 "Channelizing interfaces throws exceptions"
Attempting to configure an interface speed on a QFX switch that requires channelizing other interfaces creates an exception when using load_config.

Test case:
[code]

Exception:

[code]

Configuring the same on the command line is indeed a warning

[code]

However this is expected and isn't fatal.

Passing `ignore_warning=True` to the load function also doesn't appear to be supported; ignore_warn

[2018-03-14 15:10] stacywsmith commented on #816
What version of PyEZ are you using?

You should be able to use:

device.cu.load('set chassis fpc 0 pic 0 port 30 channel-speed 10g', format='set', ignore_warning=True)
or
device.cu.load('set chassis fpc 0 pic 0 port 30 channel-speed 10g', format='set', ignore_warning='will be channelized or dechannelized')

However, I suspect you are using PyEZ version <= 2.1.2 and that you are hitting https://git

[2018-03-14 16:58] DamianZaremba commented on #816
It seems I was indeed hitting #712, rebuilding with 2.17 resolved the issue (this was meant to already be on this box, but apparently didn't quite make it).

[code]

Allows the config to be applied as expected.

Thanks for the prompt response!

[2018-03-14 16:58] #816 closed

[2018-03-17 10:44] joaonetto opened #817 "Fail to get some data from PhyPortErrorTable"
Hello,

I'm trying to collect some data from PhyPortErrorTable and add them into a dict () variable, but all fields containing "-" return errors.

In the sample bellow, i'm try to get the the value from key rx_err_l2-channel

[code]

This issue happened in all cases below:

[code]

Like we can see, all fails have a "-" in a key.

All the best,

JNetto

[2018-03-17 23:25] vnitinv commented on #817
@joaonetto Thanks for reporting this. It should be the underscore ( _ ) and not hyphen ( - ). Python rule.
Will get this fixed. By that time you can use the same table by customizing it. Check this example:
https://github.com/vnitinv/pyez-examples/blob/master/9_user_defined_table.py

[2018-03-19 13:54] joaonetto commented on #817
Thank you @vnitinv for your answer and help, your example helped me to fix my issue.

In your last post you mentioned about Python Rules, so, Could you please share with me links, PEPs or anything else to help me to understand this rules ?

All the best and thank you again

[2018-03-21 23:13] yang-dev commented on #153
I can't get nested proxycommand to work.

In my SSH config,

- Host router -> ProxyCommand through jumphost_inside
- Host jumphost_inside -> ProxyCommand through jumphost_outside

ERROR:ncclient.transport.ssh:Exception: Error reading SSH protocol banner with _read_timeout()

in https://github.com/Juniper/py-junos-eznc/blob/master/lib/jnpr/junos/device.py I am not seeing anything loading proxycomma

[2018-03-21 23:15] yang-dev opened #818 "support SSH_config Include keyword"
https://www.freebsd.org/cgi/man.cgi?query=ssh_config&apropos=0&sektion=5&manpath=FreeBSD+12-current&arch=default&format=html

     Include
	     Include the specified configuration file(s).  Multiple pathnames
	     may be specified and each pathname	may contain glob(3) wildcards
	     and, for user configurations, shell-like `~' references to	user
	     home directories.	Files without absolute pa

[2018-03-24 08:15] derfUrban commented on #650
Hi @andyjsharp, did you ever find a fix for this issue you were seeing. I'm experiencing it and unable to rundown a specific cause or workaround for using a text config. Please advise.

[2018-03-24 10:53] andyjsharp commented on #650
Yes, the issue was with a vanilla EX4300, it’s factory default configuration sends messages every 16secs or thereabouts in relation to the chassis configuration auto-image-upgrade. Unfortunately, these messages have a tendency to appear within the XML replies that are being sent, in effect corrupting the XML reply and breaking the process. My work-around at the time was to create another script to

[2018-03-28 07:26] jnpr-raylam opened #819 "Cannot get node0/node1 for current_re facts if cluster_id > 16"
https://github.com/Juniper/py-junos-eznc/blob/b846ed9d17dd7a3514e4c59a8179a0b2b65101e2/lib/jnpr/junos/facts/current_re.py#L48-L69

The current code assume fxp1 IP address is `129/130.[srx_cluster_id << 4].0.1`
In the latest SRX code, it supports cluster id > 16
If the srx_cluster_id is > 16, the calculated result is > 255 and therefore cannot match the if statement

From a SRX cluster output:
[cod

[2018-03-31 18:48] anudeep26 opened #820 "Can't get all lane info for et- interfaces"
[code]

globals().update(FactoryLoader().load(yaml.load(optic_yaml))

diag_info = PhyPortDiagTable(device)
diag_info.get()

def optic_diag():
    for i in diag_info:
        print(" if_name : {}, Lane : {}, tx : {}, rx : {}".format(i.name, i.lane,i.tx_power, i.rx_power))

prints the following:

if_name : et-0/0/19, Lane : 0, tx : 0.976, rx : 0.725
 if_name : xe-6/0/0:0, Lane : 0, tx : 0.546, rx :

[2018-04-17 18:27] jnpr-bowen opened #823 "Problem with console/tty login after rebooting RE tty.py"
I am having a problem using a console connection in Ansible after rebooting the RE. I believe I have found the solution, but need others to verify the problem and my 'fix'.
To recreate the issue from Ansible have a playbook that reboots the RE, delay for time to allow reboot to happen, then juniper_junos_facts via the console port. The facts task should fail.
I traced the problem down into the tty

[2018-04-17 20:28] jnpr-bowen commented on #823
Some extra details from an Ansible playbook log where one connection works and another does not:
Working connection:
2018-04-16 09:49:42,845 jnpr.junos.tty TTY: logging in......
2018-04-16 09:49:52,847 jnpr.junos.tty_telnet Got:
2018-04-16 09:49:52,847 jnpr.junos.tty_telnet Write: \<close-session/>
2018-04-16 09:49:52,908 jnpr.junos.tty_telnet Got: \<close-session/>^M
Password:
2018-04-16 09:49:52

[2018-05-02 13:51] ymitsos commented on #474
Indeed, this is a strange behavior. Not only there are 2 *different* RPC calls, but also the get-lldp-neighbors-information RPC returns less data in some EX switches running 12.3R8 (omits the lldp-remote-port-id attribute in my case).

[2018-05-07 10:39] vnitinv commented on #817
pep8/pep20 are just python coding style guideline. You can search it easily.
Closing this issue as you can define table/view. Would suggest you to copy your user-defined table/view in the comment section, so that others can reference.

[2018-05-07 10:39] #817 closed

[2018-05-08 06:12] dineshbaburam91 commented on #820
Hi @anudeep26 , I would need xml output for the given command to help. Can you please share the xml for below command

`show interfaces diagnostics optics | display xml`

You can unicast us at jnpr-community-netdev@juniper.net

[2018-05-09 00:26] anudeep26 commented on #820
@dineshbaburam91
[diag_info.txt](https://github.com/Juniper/py-junos-eznc/files/1986003/diag_info.txt)

[2018-05-09 12:08] dineshbaburam91 commented on #820
Kindly use below table/view config to get lane-index detail:
[code]

[code]

[code]

[2018-05-10 05:41] vnitinv commented on #820
@anudeep26 Please use the Table provided above.

[2018-05-10 05:41] #820 closed

[2018-05-10 05:41] #814 closed

[2018-05-18 14:58] vozhyk- opened #830 "Config.diff() does not handle RpcTimeoutError properly"
If a timeout happens when calling `.pdiff()` on a config table instance, the `RpcTimeoutError` is caught (as an `RpcError`) at https://github.com/Juniper/py-junos-eznc/blob/5d2f16cf62155e12a68e0258ea20bc174c749203/lib/jnpr/junos/utils/config.py#L227-L228, but the code expects it to have `['severity']`, which it apparently doesn't, and a `TypeError` is thrown.

Expected behavior: the `RpcTimeoutErr

[2018-05-28 18:35] ngrundler opened #832 "Feature Request: connect to device console via ssh terminal server"
The netconify tool allows connections through an ssh-based terminal server that requires authentication before being presented with the device console, but it looks like PyEZ does not support this.  We do not permit unauthenticated remote access to network device consoles in our environment(and I imagine many other organizations have this requirement as well), so it would be very useful to have th

[2018-05-29 05:20] vnitinv commented on #832
@ngrundler We should definitely do this.

[2018-05-29 18:58] ngrundler commented on #832
@vnitinv Thanks very much for your quick response and support, this would definitely be a very welcome feature for us, and I imagine it would be well-received by other folks using Salt/Ansible for network automation as well :)

[2018-05-30 21:42] njayarama commented on #780
what is current timeout value of the open()?
is there any plan to fix this issue, am hitting this one on my network. I need to increase the timeout value.

[2018-06-01 12:15] denysaleksandrov commented on #699
Bumped into this issue while trying to get MACs from ex4550 device with 14.1X53.
Per Nitin's comment fixed it by moving some fields into keys:

[code]

With the new table, I am to get mac table entries:
[code]

[2018-06-13 09:41] shabbir1282 commented on #466
Thank you very much, it helped me solve this issue. this must be documented somewhere.

[2018-06-15 16:33] Povezi commented on #466
+1 I had the same problem

[2018-06-19 05:19] d200201123 opened #841 "Documentation Change: Dynamic namespace set when rpc.get_config is called"
Hi,

When rpc.get_config() is called with filter_xml knob and namespace is not given, namespace  is automatically set to http://openconfig.net/yang/<TAG NAME> .

But this does not seem to be working everytime.

For example, local-routes has namespace http://openconfig.net/yang/local-routing and network-instances has namespace http://openconfig.net/yang/network-instance

<local-routes xmlns="http:/

[2018-06-26 12:44] mamathac opened #842 "Software Utility class Juniper.junos.utils-sw : Reboot fails for WR Based Linux Hardware"
This is a hardware with single RE, hence the module "reboot" fails as it runs a "show version invoke-on all-routing-engines" resulting in syntax error.

from jnpr.junos.console import Console
import logging
from jnpr.junos.utils.sw import SW

with Console(host='host', user='user', password='passwd', mode='telnet', port='', gather_facts=False) as dev:
    sft= SW(dev)
    print (sft.reboot())

Resu

[2018-06-29 06:02] mamathac opened #843 "Juniper Junos Utils : Config module.DB lock is not released in case of an exception(RPC error)"
In this case, suppose an RPC fails due to syntax error, the 'diff' still remains on the router.
Incase the RPC fails, rollback should happen and the device lock should be released.

`from jnpr.junos import Device
from jnpr.junos.factory.factory_loader import FactoryLoader

dev = Device(sys.argv[1],user=sys.argv[2],password=sys.argv[3],gather_facts=False, port=22)
dev.open()

yaml_data = \
    """-

[2018-07-02 06:51] ramyaraju12 opened #844 "PYEZ ISSU on Dviata"
When we run ISSU using PyEZ, the pre validation checks if the version on both RE’s  is same.

In case of Dviata, when PyEZ gathers details of  versions on the box , it takes  version details of both master and backup RE of GNF and BSYS and selects  the BSYS version as main RE0 and RE1 version.

So if the GNF RE0 and RE1 have the same version also , PyEZ ISSU fails which is an issue.

FACTS
=====

[2018-07-03 12:29] mamathac opened #845 "Console Class Juniper Junos Console : Login State machine failure for WR Based Linux Hardware"
The python script is trying to connect to a WR Based Linux Hardware via Console and do load operations.
Gather facts was set to True and False both, both the times the script returned login_sm failure error even for root user.

Script:
from jnpr.junos.console import Console
from jnpr.junos.utils.config import Config
import logging

logging.basicConfig(level=logging.INFO)

# Creating an instance to

[2018-07-03 18:47] mamathac opened #846 "File System class FS : ls <dir> returns error."
Using jnpr.junos.utils.fs to perform 'ls' on a directory.

Operation : ls /var/tmp

[code]

Result:
Python2.9

Python3.4

Env on host:
asn1crypto==0.23.0
bcrypt==3.1.4
cffi==1.11.2
cryptography==2.1.3
enum34==1.1.6
idna==2.6
ipaddress==1.0.18
Jinja2==2.10
junos-eznc==2.1.9.dev0
lxml==4.1.1
MarkupSafe==1.0
ncclient==0.5.3
netaddr==0.7.19
paramiko==2.4.0
pyasn1==0.3.7
pycparser==2.18
PyNaCl==1.2.0
p

[2018-07-03 18:47] mamathac commented on #842
# python2.7 -c 'import jnpr.junos; print jnpr.junos.__version__'
2.1.9.dev0

[2018-07-09 20:38] braincork commented on #699
I just tested this for an ex4300 with ELS...took some trial and error but works great:

yml = '''
---
EtherSwTable:
  rpc: get-ethernet-switching-table-information
  item: l2ng-l2ald-mac-entry-vlan/l2ng-mac-entry
  key:
      - l2ng-l2-mac-address
      - mac-count-global
      - learnt-mac-count
      - l2ng-l2-mac-routing-instance
      - l2ng-l2-vlan-id
      - l2ng-mac-entry
  view: EtherSwVie

[2018-07-13 20:46] jnpr-bowen commented on #845
Your reference to "a WR Based Linux Hardware" suggests that this may be trying to connect to something like a NFX device. If that is the case, the console login processing may not be fully implemented. Can you provide a sample of a telnet session to the console that ends with the junos cli user prompt ("host_name > ")?

[2018-07-13 20:54] jnpr-bowen opened #847 "Login state machine can incorrectly match cli prompt over console connection"
The login state machine pattern for cli prompt will match an xml tag like "<simple-tag/>" as being the cli prompt. This can effect a program that, using a console connection, has executed an RPC that will result in a reboot and disconnects from the device. It then periodically checks to see if the reboot has finished, but the RPC response streaming back over the console can result in the cli promp

[2018-07-16 20:20] bcavns01 opened #849 "Exceptions while handling exceptions in commit_check"
https://github.com/Juniper/py-junos-eznc/blob/8f8cbaf3677d7f94fded5863a7cbb0f10c64643c/lib/jnpr/junos/utils/config.py#L197-L200

The code above incorrectly assumes that any error that reaches that point will have an xml property.  I'm currently using pyez from within Ansible, and I get the following error:
[code]
That exception is masking the true error.

I traced that error back to the section of

[2018-07-16 20:35] bcavns01 commented on #849
I see it might be easier to have a PR for reference.

As one option, here's my proposed change:
https://github.com/Juniper/py-junos-eznc/pull/850

[2018-07-16 21:41] Erdix opened #851 "error: Microsoft Visual C++ 14.0 is required"
Hi All,
When
H:\>pip -V
pip 10.0.1 from c:\users\vicv9if\appdata\local\programs\python\python37\lib\site-packages\pip (python 3.7)

H:\>pip install junos-eznc  ------------>It is downloading and collecting a number of packets. But end of the the line, there are errors as following:

error: Microsoft Visual C++ 14.0 is required. Get it with "Microsoft Visual C++ Build Tools": http://landinghub.visu

[2018-07-18 05:40] stacywsmith commented on #851
You might check [this post](https://stackoverflow.com/questions/51118394/pip-install-lxml-fails-on-python-3-7-on-windows)

[2018-07-19 04:57] vnitinv commented on #851
@Erdix Was the post shared by @stacywsmith helpful to you?

[2018-07-20 08:53] vnitinv commented on #849
Fixed via #850

[2018-07-20 08:53] #849 closed

[2018-07-30 20:40] mzbroch commented on #832
@vnitinv
I have been working recently to address this issue and provide support for console connection over ssh handlers. I hope we can get in sync to go over details as I've already done part of the work and the remaining is in progress.

[2018-08-02 10:01] vnitinv commented on #851
@Erdix I am closing this issue. re-open if above comment was not helpful

[2018-08-02 10:01] #851 closed

[2018-08-02 10:58] mamathac commented on #845
:~> telnet <hostname>-con
Trying <x.x.x.x>...
Connected to x.x.x.x.englab.juniper.net.
Escape character is '^]'.

There is no hot key to close the connection.

Juniper Linux Distribution 2.2.1 <hostname> ttyS0

<hostname>-re0 login: root
Password:
Last login: Mon Jul 23 20:10:30 PDT 2018 from 10.222.38.87 on pts/1
--- JUNOS builder Linux re 4.8.24-WR2.2.1_standard #28 SMP PREEMPT Thu Jul 12 06:14:

[2018-08-03 07:17] vnitinv commented on #845
@mamathac  was due to internal PR #1365520 wrt <file-list> rpc. Closing the issue. Please re-open if the issue still exists.

[2018-08-03 07:17] #845 closed

[2018-08-03 07:28] vnitinv commented on #769
@ejmmanning I dont see the netconf trace being provided. Closing the issue. If still facing issue, please re-open with data.

[2018-08-03 07:28] #769 closed

[2018-08-07 08:59] peng0208 opened #857 "Route policy?"
How to show configuration about route policy?

[2018-08-07 09:26] yevgeniy-voloshin commented on #857
Did you already check this article:
https://www.juniper.net/documentation/en_US/junos-pyez/topics/task/program/junos-pyez-program-configuration-retrieving.html

[2018-08-07 12:45] peng0208 commented on #857
need i read all configuration information and check the  policy ?

[2018-08-07 13:53] yevgeniy-voloshin commented on #857
Yep, I think this is one of many options to get a piece of configuration about routing policy
You mean "show configuration policy-options " isn't it?

Or this one:
    juiper-router> show policy | display xml rpc
     <rpc-reply xmlns:junos="http://xml.juniper.net/junos/16.1R6/junos">
         <message>
             xml rpc equivalent of this command is not available.
         </message>

[2018-08-08 02:59] peng0208 commented on #857
good, this command maybe what i need , thanks for your reply

[2018-08-11 01:29] mmellin opened #863 "Add $ shell prompt for Bourne-style shell to StartShell()"
Hi,

This may be a corner case, but I have an MX with the following configuration for the user:

    set system login user <user> shell sh

This drops an SSH'd user directly into the Bourne-style shell.  There are some scripting purposes behind this.  Using the `StartShell().open()` class method within PyEz does not take this shell's prompt `$` into account and the function `self.wait_for()` must

[2018-08-14 07:07] #857 closed

[2018-08-14 07:10] vnitinv commented on #842
Fixed via https://github.com/Juniper/py-junos-eznc/pull/862

to install code form github
pip install git+https://github.com/Juniper/py-junos-eznc.git
Please verify and close.

[2018-08-14 07:12] vnitinv commented on #843
@mamathac we are not able to replicate this.

[2018-08-14 07:13] vnitinv commented on #844
Fixed via #862

to install code form github
pip install git+https://github.com/Juniper/py-junos-eznc.git
Please verify and close.

[2018-08-15 20:54] dgarros commented on #832
@vnitinv , @mzbroch opened a PR few days ago for this feature in #861

[2018-08-18 04:32] jtishey opened #864 "sw.install() not catching multiple <package-result> values"
The following example returns "True" on an EX4200 when install fails due to corrupt image file on the device.

[code]

It appears that a package-result of "0" is getting returned on the first response, followed by a second value of "7" when the install fails, but only the first value is getting matched, which makes it look like there was no error.

[code]

The install log on the switch shows the f

[2018-08-20 17:29] mmellin commented on #863
Looks like the `/bin/sh` shell behaves a bit differently than the others.  While adding `$` to the the `start_shell.py` prompt variables is a start, the output of some commands (like those issued via `cprod -A <linecard> -c "<command>"` are truncated and cause invalid output.  I'm trying to understand why this is.

[2018-08-21 09:13] vnitinv commented on #864
@jtishey Looks good to me. How about a pull request.

[2018-08-22 02:39] jbotello7381 opened #867 "Problems integrating pyez with flask/gunicorn framework"
I'm been working on this project to build a rest API frontend to retrieve operational data from juniper and other devices.

The idea is basically a REST front end, with netconf connections to juniper.   The first version, only use flask as a rest framework and everything works fine as shown below.  I define a log entry when router.open() succeed.

[code]

However now I'm been trying to add some mu

[2018-08-22 18:15] mmellin opened #869 "Data channel recv buffer issue with StartShell.wait_for()"
## Issue
When running multiple commands through the `run()` method of `StartShell()`, data is not always fully received from the buffer prior to returning `got`.  This means that the output of the 2nd command in the list may be truncated or invalid if the commands are run in succession.  I've tried a sleep time within my own code between commands, but it does not solve it.

#### Example code:

[co

[2018-08-22 18:17] mmellin commented on #863
It seems like there are two unrelated issues I was seeing.

1. $ prompt is not supported.  This is an easy fix by adding `|\$` in two spots where the code looks for static prompt values.

2. Truncated output - this is related to another issue I will open a bug for.  I have a potential fix as well. #868 #

[2018-08-27 09:07] mamathac commented on #843
Issue happens post running a failure case. Suppose there is a syntax error and then the script exits with Syntax error, subsequent test will fail due to DB lock.

error: configuration database locked by:
  regress terminal  (pid 7527) on since 2018-08-27 01:35:08 PDT, idle 00:25:52
      exclusive

With netconf Enabled:

Run a python file with config YAML having syntax error:
Traceback (most recen

[2018-08-27 15:49] Anthony25 opened #872 "Many filedescriptors never closed"
Hi,
I use this module through napalm, to target a several hundreds of devices. After 200 devices, I had an issue of too many file descriptors opened.

Even with the `device` object closed (both the napalm `device` and this module's one), for > 200 devices, I can see that it consumes around 70K non closed file descriptors. The only way to reduce this number is to force the garbage collection of the

[2018-08-28 03:48] jbotello7381 commented on #867
OK, after running gunicorn with different worker types, this seems to work

gunicorn -b 0.0.0.0:5000  -k gevent wsgi

[2018-08-28 03:48] #867 closed

[2018-08-29 13:02] mcpat1993 commented on #699
braincork, I found your yml to be very useful for the following:
- l2ng-l2-mac-address
- l2ng-l2-mac-logical-interface
- l2ng-l2-mac-flags

I was not successful, however, with l2ng-l2-vlan-id

Here's what my yaml looks like:
`EthernetSwitchingTable:
    rpc: get-ethernet-switching-table-information
    item: l2ng-l2ald-mac-entry-vlan/l2ng-mac-entry
    key:
      - l2ng-l2-mac-address
      - l2ng

[2018-08-30 07:19] mamathac opened #874 "Restricted user Error and warning messages missing."
PyEZ prints generic login error message for Restricted user:
Traceback (most recent call last):
  File "/var/tmp/testcase24.py", line 11, in <module>
    dev.open()
  File "/usr/local/lib/python2.7/dist-packages/jnpr/junos/device.py", line 1302, in open
    raise cnx_err
jnpr.junos.exception.ConnectError: ConnectError(host: nms5-mx480-b, msg: Extra content at the end of the document, line 6, colum

[2018-09-02 01:06] ngrundler opened #875 "Exception with rpc.request_system_zeroize()"
The following exception was raised when zeroizing an EX-series device:

[code]

the device does successfully being to zeroize, but this exception is problematic.

[2018-09-03 21:56] stacywsmith commented on #875
This exception is just reporting the warning(s) which were produced by the Junos device. (In my opinion, producing a "warning" because of "ipsec-key-management subsystem not running - not needed by configuration." is a Junos bug, but it's also a Junos bug which is unlikely to get fixed in a timely manner.)

You should be able to ignore these warnings with:

dev.rpc.request_system_zeroize(ignore_wa

[2018-09-04 01:01] stacywsmith commented on #874
This is a Junos bug. The device returned plain text rather than valid NETCONF/XML.

The device I tried, an SRX300 running Junos 17.3R1-S1.6, returned both plain text and NETCONF/XML. That's still a Junos bug, but not quite as bad as just returning plain text.

[code]

[2018-09-05 05:40] rsmekala commented on #843
@mamathac If the user decides to lock the configuration before committing, then the user should gracefully handle the case of ConfigLoadError.

An example case would be:
[code]

@vnitinv Any comments or can we close the issue ??

[2018-09-06 09:54] vnitinv commented on #875
@ngrundler re-open the issue if you still face the problem.

[2018-09-06 09:54] #875 closed

[2018-09-06 09:55] vnitinv commented on #874
@mamathac Can you check the behaviour change in Junos version?

[2018-09-06 09:57] vnitinv commented on #872
@Anthony25 waiting to hear from you.

[2018-09-06 09:59] vnitinv commented on #844
@ramyaraju12 Closing this issue. Please re-open is still facing the issue.

[2018-09-06 09:59] #844 closed

[2018-09-06 10:01] vnitinv commented on #843
@mamathac @rsmekala use context manager. for example:

[code]

Closing this issue. Please re-open is still facing the issue.

[2018-09-06 10:01] #843 closed

[2018-09-06 17:48] dgarros opened #877 "Console over SSH not working in 2.2.0"
@vnitinv @mzbroch
The SSH over console feature introduced in 2.2.0 is not working for me
I wanted to do the integration with the juniper_junos ansible module but it looks broken in Pyez 2.2.0

I did a bit of troubleshooting and I was able to make it work when I change the flag `RECVSZ` to 1, current value is 1024 (in file `lib/jnpr/junos/transport/tty_ssh.py`)

@vnitinv, looks like you changed it

[2018-09-10 11:35] mamathac opened #878 "Pyez open() with Unauthorized user terminates with error."
While connecting to a device using Device.open() for an user who has permission to login and unauthorised to run show commands (Restricted User sessions), PyEZ returns below error.

Netconf is successful with unauthorised meaningful warning:

root@host:/home/regress# ssh user@<hostname> -s netconf
Password:
warning: user "un1" does not have access privileges. >>>> WARNING MESSAGE

error: Restricte

[2018-09-10 13:52] stacywsmith commented on #878
What do you expect to happen? This is a Junos bug. It's outputting non-XML/NETCONF over a NETCONF session.

[2018-09-11 07:01] mzbroch commented on #877
@vnitinv @dgarros

RECVSZ has been set to minimum value of 1 to chunk data and allow for reading newline characters. Read, readline, read_until are method commonly used for other transports already implemented and I took a design decision to mimic same behaviour for ssh transport.

According to my tests, setting higher value of RECVSZ will break the feature in *most* cases, this is due to standard

[2018-09-11 07:08] mamathac commented on #878
The output of this has been same on Working and Non working JUNOS image.
For e.g.:
[mamathac@ttbg-shell02 regressd_pkgs]$ ssh pyez-un@router_name -s netconf
Password:
**warning: user "pyez-un" does not have access privileges.**

**error: Restricted user session.**

<rpc-reply>
<rpc-error>
<error-severity>warning</error-severity>
<error-message>
**user "pyez-un" does not have access privileges.**
<

[2018-09-11 07:17] mamathac commented on #878
This is same as https://github.com/Juniper/py-junos-eznc/issues/874 .. Hence closing this one

[2018-09-11 07:17] #878 closed

[2018-09-11 07:18] mamathac commented on #874
Info provided to @vnitinv

[2018-09-11 07:35] vnitinv commented on #874
@stacywsmith @mamathac We used to handle this at https://github.com/ncclient/ncclient/blob/master/ncclient/devices/junos.py#L52
looking into as in why things are broken on test server now.

[2018-09-11 08:42] mamathac commented on #874
Working NCClient version **ncclient>=0.5.3 in /usr/local/lib/python2.7/dist-packages (from junos-eznc)**

[2018-09-11 11:37] mamathac opened #879 "jnpr.junos.utils.fs : mkdir for any other user with super user permission (other than root) returns shell banner."
Happening only on WR Linux Based device (Vptx and qfx)
Works fine on Junos Device.
With the same username , able to create a directory for the user as user has super-user permission.
when called from PyEZ, fails.

Python File:
from jnpr.junos import Device
from jnpr.junos.utils.fs import FS
from pprint import pprint
import sys
dev = Device('router', user='superuserclass', password='password')
fs =

[2018-09-11 11:50] mamathac commented on #846
PR #1365520 is fixed and closed.
fl.ls works as expected

('\nList of files in /var/tmp:', {'files': ['JC_Instrumentation', 'baseline-config.conf', 'diff.cfg', 'fabspoke_fchip.log', 'fabspoke_pfe.log', 'pyez-archive.tgz'], 'path': '/var/tmp/', 'type': 'dir', 'file_count': 6, 'size': 89802})

[2018-09-11 14:21] mamathac opened #880 "jnpr.junos.utils.fs : fs.storage_usage returns null for WR Linux Based device."
Needs check for fs.storage_usage for WR Linux Based Os.
Running <get-system-storage> RPC over netconf on box returns values on router.

But when run using fs.storage_usage, returns null.
Works fine on a JUNOS Device.

Result on Junos Device:

On a WR Linux Based device:

[2018-09-11 14:36] mamathac commented on #880
Also check fs.storage_cleanup_check and fs.storage_cleanup.
Returns RPC error , while the command is supported and working on WR Linux Based device

[1] -> XXXXXXImage  - [2018-09-05 10:12:30]

    '-' running version
    '>' next boot version
    '<' rollback boot version

PyEZ returns:

[2018-09-11 14:40] stacywsmith commented on #880
What's the `| display xml` output for both commands?

[2018-09-11 17:39] dgarros commented on #877
Thanks @mzbroch for these information, I created a PR to change this value
#881

[2018-09-12 05:33] vnitinv commented on #877
@dgarros  Reason for changing it to 1024, Over SSH do we really need such slow read.
with setting it to 1, the state machine will be called on every char read. Will impact performance.

On CLI we sometimes see a message like
`Type the hot key to suspend the connection: <CTRL>Z`
with every char read, when it reaches `Type the hot key to suspend the connection: <CTRL>`
(without Z) it match CLI optio

[2018-09-13 05:50] dgarros commented on #877
@vnitinv, have you been able to test the code successfully with 1024 ? based on @mzbroch comment, it looks like it shouldn't work in most cases.

In my case, when i try to initiate a connection with 1024, the login phase is going well, but once netconf start the library is not able to detect the end of transmission string `]]>]]>`
Happy to have a troubleshooting session with you on our setup or to

[2018-09-13 13:48] stacywsmith commented on #877
Sorry, nothing off the top of my head and I don't currently have cycles to investigate.

[2018-09-14 16:56] dgarros commented on #877
@vnitinv @ydnath how can we move forward regarding this issue ?

I'm available to troubleshot with you but if we can't find the better solution quickly I would recommend to revert the value to 1
As far as I understand the performance impact is not that visible with 1 but at least it's working for us.

Thanks

[2018-09-15 13:02] mzbroch commented on #877
@dgarros @vnitinv
The most important from the performance point of view is receive() function in the tty_netconf.py. That one calls read_prompt, which uses bigger buffer size and works ok with that - in an effect, in case of long outputs / reads from the Device, we can use more than 1 byte in a single read. I was testing this against production configuration files and no issues were identified her

[2018-09-17 06:16] vnitinv commented on #874
@mamathac  we have sent pull request to ncclient https://github.com/ncclient/ncclient/pull/283

[2018-09-18 07:15] mamathac commented on #879
Verified and found fixed .

True

[2018-09-18 07:15] #879 closed

[2018-09-18 17:57] dgarros commented on #877
@vnitinv @ydnath this issue is a big blocker for us, we would really appreciate your help here to resolve that quickly.

[2018-09-19 11:27] vnitinv commented on #877
@mzbroch for me more than the speed, the concern was the issue I faced described at https://github.com/Juniper/py-junos-eznc/issues/877#issuecomment-420517597
I need to understand why reading 1024 is breaking your setup.

[2018-09-19 11:37] mzbroch commented on #877
@vnitinv I think I might have said that before: with 1024 value, you take some portion of the data from the buffer, but you process it only until regexp match. It means, that data "after" the regexp is left behind. Next recv() operation won't use it.

[2018-09-19 12:10] vnitinv commented on #877
@dgarros @mzbroch Can you share me the output for below script:

[code]
@mzbroch My understanding is, while login, we will just get a prompt (end of string) for a user input.
Then we need to write data. So there shouldnt be a case of partial usage of already readout data.

[2018-09-19 15:05] mzbroch commented on #877
@vnitinv @dgarros I sent you an output via email thread.

[2018-09-19 16:48] Anthony25 commented on #872
Hi @vnitinv,
Sorry for the delay. I've looked at which FD are kept opened after doing `device.close()`, and it seems that the issue is in the `ncclient` module, not this one. The SSH session object seems to open some pipes that are never closed.

I don't know if you prefer to close this issue or keep it opened to track the bug, so do as you prefer ;)

[2018-09-19 16:58] Anthony25 commented on #872
FYI, I fixed the issue here: https://github.com/ncclient/ncclient/pull/287

[2018-09-26 18:57] Anthony25 commented on #872
Merged in [ncclient](https://github.com/ncclient/ncclient/commit/d647a9ee3f600d027d7396ac181b4d7df41191fd)

[2018-09-26 18:57] #872 closed

[2018-10-08 10:55] vnitinv commented on #880
@mamathac Can you please verify if #883 resolved the issue or not.

[2018-10-08 15:46] mamathac commented on #880
fs.storage_cleanup_check Still fails: RPC responsible - <request-system-storage-cleanup><dry-run/>

    print ("\nReturns a list of files to remove at cleanup:", fs.storage_cleanup_check())
  File "/Users/mamathac/WORK/UI-AUTOMATION/ansible-junos-stdlib/playbooks/ANS/lib/python2.7/site-packages/jnpr/junos/utils/fs.py", line 343, in storage_cleanup_check
    rsp = self._dev.rpc.request_system_stora

[2018-10-08 15:54] ydnath commented on #842
Verified to be working, as per an offline discussion

[2018-10-08 15:54] #842 closed

[2018-10-09 11:52] mohit311 opened #887 "Error on upgrading NFX 250's JDM via PYez 2.2.0"
Hi, on upgrading the NFX250 JDM to 15.1X53-D471.1 via sw.install method, getting the below error

File "/usr/lib/python2.7/site-packages/jnpr/junos/utils/sw.py", line 92, in __init__
    'localre' in dev.facts['current_re'])
TypeError: argument of type 'NoneType' is not iterable

$ pip list | grep ez
junos-eznc                       2.2.0

Let me know if you need any other info.

Regards
Mohit

[2018-10-10 08:58] mamathac opened #888 "Console Class Juniper Junos Console : Login State machine failure for WR Based Linux Hardware"
Issue still persists:
Original Issue which was closed.
https://github.com/Juniper/py-junos-eznc/issues/845

Current output with latest Pyez:
INFO:jnpr.junos.tty:TTY: connecting to TTY:IP ADDRESS  ...
INFO:jnpr.junos.tty:TTY: logging in......
ERROR:jnpr.junos.console:ERROR:  login:login_sm_failure

ERROR:jnpr.junos.console:
Complete traceback message: Traceback (most recent call last):
  File "/Use

[2018-10-10 11:48] mamathac commented on #888
Issue seems to be fixed.
/Users/mamathac/PycharmProjects/Ansible/venv/bin/python /Users/mamathac/PycharmProjects/Ansible/venv/PyEZ/Login_Console.py
INFO:jnpr.junos.tty:TTY: connecting to TTY:IP:PORT ...
INFO:jnpr.junos.tty:TTY: logging in......
INFO:jnpr.junos.tty:TTY: OK.....starting NETCONF
INFO:jnpr.junos.tty_netconf:Calling rpc: <rpc><get-route-engine-information/></rpc>
INFO:jnpr.junos.tty_ne

[2018-10-10 11:50] mamathac commented on #888
Verified and found  fixed

[2018-10-10 11:50] #888 closed

[2018-10-12 15:29] attila123 opened #890 ""with Device()" is not idiomatic and is error prone"
A common example for using the "with + as" language element in python is something like
[code]
If you would like to do it without "with + as" then it would look something like:
[code]
(I did not try these examples. Error handling e.g. try + finally is omitted for simplicity.)
The bottom line: in both cases you call open(). Nice, clean, logical, we got used to it.

But what happens in pyez: without

[2018-10-14 20:53] nskalis opened #891 "DeprecationWarning: 'U' mode is deprecated"
Hi,

In Python3 the following is deprecated. This is causing `pyez` to give warnings when running in any CI environment.

[code]

[2018-10-15 13:32] stacywsmith commented on #891
Suggest replacing current `/usr/lib/python3.6/site-packages/jnpr/junos/utils/config.py:501`:
[code]

with:
[code]
See [this question and answer](https://softwareengineering.stackexchange.com/questions/298677/why-is-universal-newlines-mode-deprecated-in-python).

[2018-10-18 13:02] Jitter00 opened #893 "Unknown exception when sending an RPC"
Hello,

I've encountered an unknown exception when running  a script which sends an RPC to a Juniper device.

Python 2.7.15rc1
junos-eznc (2.2.0)

The device is a qfx5100-48s-6q running Junos: 17.3R3-S1.5.

This is the script:

`from jnpr.junos import Device
from jnpr.junos.utils.config import Config

router = "192.168.1.1"
dev = Device(router, user="admin", gather_facts=False, normalize=True)
dev

[2018-10-18 13:49] stacywsmith commented on #893
Please paste the output from executing `ping overlay tunnel-type vxlan vni 101 tunnel-src 172.16.1.1 tunnel-dst 172.16.1.2 count 1 | display xml` at the CLI.

Based on the error message, it appears the Junos device is emitting invalid XML.

It is possible to execute the `ping` RPC rather than the `ping` CLI command, and that may avoid the problem in your case.

[2018-10-19 09:31] Jitter00 commented on #893
Hi Stacy,

This is the CLI output:

`<rpc-reply xmlns:junos="http://xml.juniper.net/junos/17.3R3/junos">
    <run-command>
        <command>/usr/sbin/ping-overlay</command>
        <argument>-p</argument>
        <argument>vxlan</argument>
        <argument>-v</argument>
        <argument>101</argument>
        <argument>-s</argument>
        <argument>172.16.1.1</argument>
        <argument>-d</a

[2018-10-30 13:18] Jitter00 commented on #893
Hi Stacy,

This is the ''display xml rpc" output:
[code]

However, I'm get the same error when I try to use the RPC command, as below:

[code]

There are workarounds indeed (for instance starting a shell session), but I still believe this issue is still worth reporting/fixing.

[2018-11-02 07:13] ymitsos opened #895 "Interface name not returned in ethport table/view"
Hi,

Any particular reason why the interface name "name" is not returned in the fields view "EthPortView"?
https://github.com/Juniper/py-junos-eznc/blob/master/lib/jnpr/junos/op/ethport.yml

[2018-11-12 16:19] jpoliv commented on #724
Hi,

I have several MX480 routers with similar setups (where the second RE (RE1) is present)
where pyez (version 2.2.0) based code completely misbehaves (pyez scripts and Juniper's Ansible modules):

Minimal code pyez code:

    with Device(host = '10.10.10.10', port = 22, user = ..., password = ..., timeout = 20) as dev:
        print(dev.facts['2RE'])
        print(dev.facts['RE0'])
        prin

[2018-11-14 08:17] ric79 opened #897 "Execute "test configuration" command"
I need to execute "test configuration <file> syntax-only".

If I use juniper_junos_command I get _Operation allowed only from CLI_
If I ask RPC command I get: _xml rpc equivalent of this command is not available_
I'm wondering if there is a way to do this...
Riccardp

[2018-11-14 09:07] ric79 commented on #897
This is how I solved:
[code]

[2018-11-20 12:02] ric79 opened #898 "device.py:1041: DeprecationWarning: object() takes no parameters"
Hello,
I'm executing this simple program:

[code]

I get

[code]

Is there a way to remove the warning?

[2018-11-30 07:05] dineshbaburam91 commented on #897
Kindly use below code to run the  "test configuration" command

[code]

[2018-11-30 14:17] Whiterat-8607 opened #899 "rpc.get_config filter_xml - xpath expression not being evaluated correctly"
Hi,

When trying to use xpath functions/expressions such as contains/starts-with within filter_xml they fail to work.
The xpath statement is valid when evaluated independently.

Is this expected behaviour?

[code]

[code]

[2018-11-30 14:26] Whiterat-8607 opened #900 "RpcError not being raised despite "rpc-error" in response"
In this example, passing a non-existent interface to "rpc.get_interface_information" results in the following response:

[code]

However RpcError exception is not being raised (or any exception for that matter)

[code]

This feels broken - or am I misunderstanding something?

[2018-12-03 07:46] vnitinv commented on #900
@Whiterat-8607 We will check this and get back to you. With first visual, it looks to be broken to me too.

[2018-12-03 11:31] vnitinv commented on #899
@Whiterat-8607 Junos support subtree (and not xpath) as filter. Please refer

https://www.juniper.net/documentation/en_US/junos/topics/reference/tag-summary/netconf-get-config.html
```the only acceptable value is subtree.```
For working examples, please check https://github.com/Juniper/py-junos-eznc/pull/672

You can use filter (subtree) to fetch all apply-macro and then locally apply xpath.

Let

[2018-12-03 11:33] vnitinv commented on #895
@ymitsos If you need name in fields, you need to define the name in View explicitly. As name is used as key in Table and name value comes in the object iteration as key.

[2018-12-03 11:44] Whiterat-8607 commented on #899
Hi @vnitinv,

The documentation is very misleading and points otherwise:

The example from the above page clearly states "XPath expression":

'''python
from jnpr.junos import Device
from lxml import etree

with Device(host='router1.example.net') as dev:

    # Junos XML elements
    data = dev.rpc.get_config(filter_xml='<system><services/></system>')
    print(etree.tostring(data, encoding='unicod

[2018-12-04 05:13] vnitinv commented on #899
@Whiterat-8607 Thanks for pointing out this. We will get this fixed.

[2018-12-04 13:42] Whiterat-8607 commented on #899
Thank you @vnitinv

[2018-12-04 13:42] #899 closed

[2018-12-04 14:51] ric79 commented on #898
Thanks

[2018-12-04 14:51] #898 closed

[2018-12-05 12:14] dineshbaburam91 opened #901 "Junos facts JSON serialization got broken"
[code]
#### Output
Traceback (most recent call last):
  File "junos-pyez-2.2-get-facts.py", line 27, in <module>
    print (json.dumps(dev.facts))
  File "/usr/lib/python2.7/json/__init__.py", line 243, in dumps
    return _default_encoder.encode(obj)
  File "/usr/lib/python2.7/json/encoder.py", line 207, in encode
    chunks = self.iterencode(o, _one_shot=True)
  File "/usr/lib/python2.7/json/enc

[2018-12-05 23:06] #897 closed

[2018-12-14 14:55] yusong0926 opened #903 "poor performance of rpc calls"
I just found some of the rpc calls take more than 20 seconds to finish. I am thinking if that's the problem of netconf and xml.
when you run netconf over ssh in command line, in the response of a rpc call, each xml tag is output on it's own line there is very poor buffering happing and it's flushing and delivering the stream to the client every new line.
not sure if that's the problem for the poor

[2018-12-17 12:45] vnitinv commented on #903
hi @yusong0926 . Can you please share the RPC in use. RPC reply file size (using cli-> <command> | save <file>).
If the file size is huge, did you try python 3.x as this will give you huge performance improvement (better sleep handling in python 3.x threading).

[2019-01-10 13:16] lboue opened #906 "SRX1500 clustered / dev.facts empty values"
Hello,

I have a SRX1500 chassis cluster firewall running Junos 15.1X49-D160.2:
[code]

I am facing an issue when I get call dev.facts. Every parameter is set to 'None':
[code]

I  have the same issue when I try to call the reboot method:
[code]

[code]

I don't understand what cause this issue. Can you help me ?

Regards,
Ludovic

[2019-01-14 18:46] brahmastra2016 opened #908 "Juniper on-box script : StatShelll - credentials error"
For on-box pyhton script we just use "dev = dev = Device()" to connect but it throw exception error since start shell module has the user/password as required parameters.

root@Nemo> op test.py

Traceback (most recent call last):
  File "/var/db/scripts/op/test.py", line 104, in <module>
main()
  File "/var/db/scripts/op/test.py", line 78, in main
with StartShell(dev) as ss:
  File "../../../../..

[2019-01-20 08:55] Mierdin commented on #579
Sorry to bring up such an old issue, but curious if any progress was ever made on this?

Stackstorm 2.7.0 upgraded the version of eventlet they use:
https://github.com/StackStorm/st2/pull/4007
https://github.com/StackStorm/st2/pull/4118

It appears the call to `eventlet.monkey_patch` in the sensor wrapper code has been in place for a long time, and I know this sensor USED to work, so my guess is t

[2019-01-23 05:21] dineshbaburam91 commented on #906
Whats the PyEZ version in use?
share the o/p for
pip list | grep junos-eznc

[2019-01-30 05:48] vnitinv commented on #906
@lboue We are trying to get similar setup in local lab to debug the issue. Will keep you posted.

[2019-01-30 05:50] vnitinv commented on #900
@dineshbaburam91 Please raise PR for this

[2019-01-30 05:52] vnitinv commented on #895
Closing this issue. Please do reopen if you still face any issue.

[2019-01-30 05:52] #895 closed

[2019-01-30 05:54] vnitinv commented on #893
@dineshbaburam91  Please file a PR

[2019-01-30 06:00] vnitinv commented on #887
@mohit311  Will check on NFX device if this is broken. Can you please share the o/p of dev.facts?

[2019-01-30 06:01] vnitinv commented on #880
@mamathac Can you please verify this again?

[2019-01-30 06:03] vnitinv commented on #877
@dgarros @mzbroch Closing this issue for now. Please do re-open if the issue is still seen.

[2019-01-30 06:03] #877 closed

[2019-01-30 06:04] vnitinv commented on #874
@mamathac the pull request to ncclient was merged. Hence please verify with latest ncclient.

[2019-01-30 06:07] vnitinv commented on #869
@mmellin  For vty command please use dev.rpc.request_pfe_execute(target=<fpc>, command="show jnh 0 pool")

[2019-01-30 06:07] #869 closed

[2019-01-30 06:33] dineshbaburam91 commented on #901
The issue is fixed in pull request [902](https://github.com/Juniper/py-junos-eznc/pull/902) and status of pull reuest is under review required.

[2019-01-31 06:14] vnitinv commented on #890
Hi @attila123 , you are taking an example of open where the name itself does the job, hence even in context manager or using with it we have to use open itself

The most common (and important) use of context managers is to properly manage resources. In PyEZ's case, the resource to be managed is an "Open connection to the device", not the Device() object returned by the constructor.

When a class c

[2019-02-01 09:53] rsmekala commented on #864
@vnitinv pull request is already raised for the same #866.

[2019-02-10 20:45] jtishey commented on #864
@rsmekala  do you still need a unit test for this?

[2019-02-21 17:05] ntwrkguru commented on #880
@vnitinv This is also not working on EX2200C. I'll file another issue for the same.

[2019-02-26 01:43] kokasha opened #912 "Op Table with NameSpace problem on SRx1500 with HA"
I am trying to parse the security zones on a SRX1500 in an HA cluster and i am using the default SecurityZoneTable definition part of the op Tables shipped with Pyez.

**The script is shown below**

from jnpr.junos import Device
from jnpr.junos.op.securityzone import SecurityZoneTable
from pprint import pprint

#Create Device Instance
dev = Device(host='x.x.x.x',user='xxx',passwd='xxx')
dev.open()

[2019-02-27 00:53] stacywsmith commented on #912
I don't think the namespace is the issue. PyEZ strips namespaces by default.

I think the issue is with the `<multi-routing-engine-results>` and `<multi-routing-engine-item>` tags which are not present on single RE platforms.

[This line](https://github.com/Juniper/py-junos-eznc/blob/master/lib/jnpr/junos/op/securityzone.yml#L4).
should be changed to:
[code]

Hopefully @vnitinv or @rsmekala can co

[2019-02-27 02:27] kokasha commented on #912
@stacywsmith Thank you so much

I have tried it and it worked :)

However, how can we handle the cases where we have the cases of Single RE vs Dual RE.

Having two separate definition files is not a pretty solution, What do you think?

[2019-02-27 02:33] stacywsmith commented on #912
My change should work with both single RE and dual RE. No need for separate files.

[2019-02-28 00:17] sawu-juniper opened #913 "Fix for PyEZ corrupting configurations upon extraction"
One of the customer reported issue to update the Juniper PyEZ information -

******************
Here is the missing information from the Juniper PyEZ documentation on gathering configurations from JUNOS.

etree's tostring method leaves the "<", "&", and ">" escaped as "&lt;", "&amp;", and "&gt;" respectively.  Unfortunately in configurations using apply-path statements such as "apply-path "interfa

[2019-03-04 08:07] #912 closed

[2019-03-05 06:05] varshap22 commented on #912
once u enable netconf over ssh.maybe it works

[2019-03-05 16:24] jkldgoefgkljefogeg commented on #525
jnpr.junos.utils.sw.inventory is still not working

[2019-03-19 00:51] markuscraig opened #915 "Run-time error when using "outbound-ssh" with PyEZ"
Here is my environment...
* Python Server
  * Python 3.7
  * junos-eznc v2.2.0
  * Macbook Pro
* Juniper device
  * Model = EX-4600
  * Junos 18.4R1.8

I am seeing this run-time error when using PyEZ as an "outbound-ssh" server running on my local development machine.  The "outbound-ssh" connection is being received fine, but PyEZ has a run-time error while performing an SSH config lookup...

[cod

[2019-03-19 08:52] vnitinv commented on #915
@markuscraig Yes, we should skip ssh lookup check in case of socket_fd. how about a pull request?

[2019-03-20 02:52] saymonaraujo opened #919 "Get information of the auto generate interface like pp0.3344324"
Hello,

Theres anything that i can use and receive the return of traffic like the PhyPortStatsTable() for the dynamic interface create with auto provision(using dynamic profiles) ?

[2019-03-26 12:28] saymonaraujo commented on #919
Can anyone help me ?
I want to grab the interface status using netconf, otherwise I will use snmp.

[2019-03-26 15:44] rsmekala commented on #919
@saymonaraujo Let me look into this.

[2019-03-28 05:09] vnitinv commented on #919
yes @saymonaraujo you can do this. interface_name can be provided as argument.
For example
[code]

check this doc for more details
https://www.juniper.net/documentation/en_US/junos-pyez/topics/task/program/junos-pyez-tables-op-defining.html#task-op-table-optional-arg

[2019-03-28 05:10] vnitinv commented on #913
This is expected behaviour and should be like this. Its upto the user to use `unescape` module is really requied.

[2019-03-28 05:10] #913 closed

[2019-03-28 05:13] vnitinv commented on #906
we are not able to replicate this. Can you share netconf trace.

[2019-03-28 05:15] #901 closed

[2019-03-28 05:16] vnitinv commented on #900
Is being tracked as Junos PR, hence closing it for PyEZ

[2019-03-28 05:16] #900 closed

[2019-03-28 21:06] saymonaraujo commented on #919
Hello,

@vnitinv . Sorry for bother you guys.
Thanks for the help.

[2019-03-29 10:59] rsmekala commented on #864
@jtishey Thanks for the pull request. We have merged it.

If possible, can you raise another pull request for UT as well ??

[2019-03-29 11:48] saymonaraujo commented on #919
Hello,

I tried, using any physical interface works well. But using any pp0. interface doesn't work.
Follow my function:

def get_interface_attributes(junosip_or_hostname, interface):
    login_to_device = get_junos_attributes(junosip_or_hostname)
    dev = Device(host=login_to_device[0], user=login_to_device[1], passwd=login_to_device[2])
    dev.open()
    pst = PhyPortStatsTable(dev)
    pst.ge

[2019-04-02 06:51] rsmekala commented on #919
@saymonaraujo This is not an actual physical interface, it is a logical interface. So, it is not best suited for your use-case. You can use a custom TableView, below is a basic case for the same.

[code]

I have hardcoded the interface to `pp0`, please change it as per your need.

Please let me know if you need any additional help.

[2019-04-02 10:44] saymonaraujo commented on #919
Hello,

Thanks @rsmekala. Sorry for bother you guys.

[2019-04-02 11:02] rsmekala commented on #919
@saymonaraujo Does the above example accomplish your use-case ??

[2019-04-02 11:17] saymonaraujo commented on #919
Hello,

Yes, now a understand the concept. Will do some coding fot testing and return if needed. For now, thank you for the help and again sorry if a cause any problem.

[2019-04-02 11:17] #919 closed

[2019-04-03 06:03] rsmekala commented on #890
Closing the issue. Please do reopen if necessary.

[2019-04-03 06:03] #890 closed

[2019-04-03 06:20] attila123 commented on #890
@vnitinv OK, I accept your answer, I did not code too much in Python yet, so I did not use many context managers.
But in any case I think guarding against doing Device.open() twice could be a useful check (for the reasons given above). It should raise some error even. For clarity I am going to create a new ticket for that.

[2019-04-03 06:30] attila123 opened #921 "Improvement: Device.open() should be protected from called twice"
Hi, based on my experience with https://github.com/Juniper/py-junos-eznc/issues/890 I think Device.open() should have a built-in sanity check / guard so that Device.open() should raise some error if it is attempted to be called when the connection is already open.
Why: if there is a bug in the user's application and Device.open() is called twice then it is best to be revealed right when it happens

[2019-04-03 12:35] dpizzle opened #922 "get-snapshot-information doesn't return backup partition information"
### Issue

I am running the equivalent of `show system snapshot media internal` against a virtual chassis and want to compare the JUNOS version on the active partition vs the backup partition. The output of `dev.rpc.get_snapshot_information({'format':'json'}, media='internal')` only returns the active partition.

### Replicate

[code]

### Output

The output only returns the active partition.

[co

[2019-04-03 12:42] rsmekala commented on #922
@dpizzle Can you enable netconf traceoptions and share the logs to help us debug further.

`Command: set system services netconf traceoptions file netconf-ops.log`

Link: https://www.juniper.net/documentation/en_US/junos/topics/example/netconf-traceoptions-configuring.html

[2019-04-03 13:22] dpizzle commented on #922
I have the same behavior on a EX4200. Trace file output below.

[code]

[2019-04-11 06:41] rsmekala opened #925 "dev.cli doesn't raise an exception incase of incorrect command"
### Question

@vnitinv Is there a reason this doesn't happen in PyEZ ??

### Current behavior

When the user enters an incorrect RPC, an exception is raised:
[code]

There is no exception raised in case of invalid CLI command. Currently, it just prints the output as though the command has executed successfully.
[code]

[2019-04-11 15:41] #915 closed

[2019-04-11 15:42] vnitinv commented on #830
Fixed via #840

[2019-04-11 15:42] #830 closed

[2019-04-12 08:22] raghurampai opened #926 "Facts collection not correct for some new Juniper products"
Regarding the facts collection, I see the product info (including the personality and platform info) is not correct for some platforms/products-
1) The “product” for SRX1500, SRX4100, SRX4200, SRX4600 platforms are returned as SRX_HIGHEND. But these are actually SRX Branch/mid-range.
Below is the correct classification of SRX-
SRX_BRANCH - SRX300, SRX550
SRX_MIDRANGE - SRX1500, SRX4100, SRX4200, S

[2019-04-14 21:50] jtishey commented on #864
@rsmekala  I will work on getting them added.  Thanks

[2019-04-15 13:34] sstancu opened #927 "Cannot set Device.open timeout"
`jnpr/junos/device.py Device.open` does not allow passing a `timeout` parameter that would properly propagate all the way down to `ncclient/transport.ssh.py:connect`. A possible workaround can be implemented in ncclient (https://github.com/ncclient/ncclient/pull/312),  but it's not a proper fix.

When calling open on a Device that is unreachable, ssh will timeout after ~2 minutes (Linux platform).

[2019-04-15 15:17] sstancu commented on #927
Suggested fix in https://github.com/Juniper/py-junos-eznc/pull/928 .

[2019-04-19 22:34] samascience opened #929 "forcehost not available in sw.install"
Traceback (most recent call last):
  File "upgrade_junQFX5100_sama_v1.py", line 14, in <module>
    ok = sw.install(package=pkg, validate=True, progress=True, checksum_algorithm='md5', cleanfs=True, cleanfs_timeout=300, checksum_timeout=300, vmhost=True )
  File "/usr/local/lib/python2.7/dist-packages/jnpr/junos/utils/sw.py", line 891, in install
    **kwargs)
  File "/usr/local/lib/python2.7/dist

[2019-04-25 05:27] rsmekala opened #933 "sw.install all_re option documentation is incorrect"
https://github.com/Juniper/py-junos-eznc/blob/dabef6dc29af8017d5eb8ae4be70daa7a42b77d6/lib/jnpr/junos/utils/sw.py#L782-L785

Will raise a PR to fix this in a week.

[2019-05-06 09:06] rsmekala commented on #926
@raghurampai I have raised the pull request that solves the first issue.

Will try and verify the second issue on a vSRX.

[2019-05-13 12:39] ntwrkguru opened #936 "`ssh_private_key_file` is broken"
The `ssh_private_key_file` feature appears to be broken.

Repro Steps:

1. Create new key pair
[code]

[2019-05-14 07:13] rsmekala commented on #906
Marking as inactive. Will close it in a week.

[2019-05-14 18:48] bsherwood12 opened #937 "Netconf not enables causes hung sessions"
Wrong project...

[2019-05-14 20:36] #937 closed

[2019-05-19 14:23] micko opened #938 "ansible netconf ssh agent/key not accepted"
I am trying to use an already load ssh key for deploying configurations so I don't rely on passwords. The device is already set for netconf:

ssh 10.160.0.34 -p 830 -s netconf

<hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>

but when I use the following playbook:

---
- name: Load and commit configuration
  hosts: test
  roles:
    - Juniper.junos
  connection: netconf

[2019-05-20 05:31] rsmekala commented on #938
@micko For authenticating using ssh keys, please use `ansible_ssh_private_key_file` in your hosts file. Currently, I don't see it present in your hosts file.

A sample configuration is given below:
[code]

I can confirm from the logs you provided, that the keyfile is not getting passed as a parameter to Junos modules.

Can you please make the necessary changes and give a run ??

[2019-05-20 13:11] rsmekala commented on #922
@dpizzle This is a known issue from Junos side.

Link: https://kb.juniper.net/InfoCenter/index?page=content&id=KB28238&cat=EX8216_1&actp=LIST

The output attached in the issue confirms it, you can see that the alternate partition was not unmounted properly for the backup partition. The below element in the output points out the issue:
[code]

Please try the remedy as explained in the Junos issue a

[2019-05-20 20:49] #922 closed

[2019-05-21 06:19] rsmekala commented on #938
@micko Were you able to verify the working ??

[2019-05-21 10:29] dpizzle opened #940 "EX virtual chassis facts not populated"
A number of facts are not returned when the target device is a EX virtual chassis. I don't see the same behavior when running against a standalone EX switch. Both are running `15.1R6.7`

**Version**

[code]

**To Replicate**

[code]

**Output**

The below output is from a 2 switch EX4300-48T virtual chassis and for instance, `model` is `None`.

[code]

[2019-05-21 13:09] micko commented on #938
The problem was an IdentityFile definition in .ssh/config, once I removed that ansible was able to login.

[2019-05-21 13:28] rsmekala commented on #938
👍. Closing the issue.

[2019-05-21 13:28] #938 closed

[2019-05-28 05:18] nskalis opened #941 "installation fails: No such file or directory: 'test-requirements.txt'"
Hi,

Install latest PyEz from PyPI fails.
Please let me know if you need additional information.

[code]

[2019-05-28 05:36] rsmekala commented on #941
@nskalis `ncclient` install is broken in the latest version:0.6.5. Please refer https://github.com/ncclient/ncclient/issues/321.

Please use `pip3.7 install ncclient==0.6.4` and then install PyEZ as a workaround for the issue. I have verified it and it is working with `ncclient-0.6.4`.

[2019-05-28 09:43] nskalis commented on #941
thanks!

[2019-05-29 06:49] vnitinv commented on #941
This was fixed with the latest ncclient release of 0.6.6

[2019-05-29 06:49] #941 closed

[2019-05-30 17:47] philippetrepanier opened #943 "IO Exception Over Serial On Windows"
I cannot get PyEZ to connect to my juniper switch on Windows using the serial port. For my application I cannot use SSH/telnet and I need it to work over the serial port.

On login I get an error in `tty_netconf._receive()` with the usage of select.

According to the official python docs the select operation is not supported on Windows for file objects (https://docs.python.org/3/library/select.htm

[2019-06-19 13:08] ntwrkguru commented on #936
This is caused by a newer version of openssh on MacOS Mojave and greater (see this [post](https://serverfault.com/questions/939909/ssh-keygen-does-not-create-rsa-private-key) for reference). The solution is to create the keys specifically using the PEM format (`ssh-keygen -m PEM -t rsa -b 4096`) or convert the existing _new style_ key using the command, `ssh-keygen -p -m PEM -f ~/.ssh/current_new_

[2019-06-26 00:33] samascience opened #946 "continious errors while pyez installation"
slc-scratch scp3]# sudo pip install pip --upgrade
DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 won't be maintained after that date. A future version of pip will drop support for Python 2.7.
Requirement already up-to-date: pip in /usr/lib/python2.7/site-packages (19.1.1)
[root@slc-scratch scp3]# sudo /usr/local/bin/pip install

[2019-06-26 01:26] ntwrkguru commented on #946
Need more info. What OS, what version of Python, what version of PIP. I would expect it not to work as it’s obvious that PyEZ didn’t install properly.

[2019-06-28 07:54] #936 closed

[2019-07-08 05:58] vnitinv opened #948 "reboot vmhost"
sw.reboot should also support for junos platform with vmhost.

[2019-07-23 17:19] jhay317a opened #949 "Unable to gather address families from BGP configuration using tables&views"
When traversing back in the tree using the PyEZ tables and views for configuration it is unable to gather the address family information at the group level.

This works.  The families evaluate correctly.
`BgpNeighborTable:
  get: protocols/bgp/group
  view: BgpNeighborView

BgpNeighborView:
  fields:
    groupName: name
    groupFamilies: family
    groupFamilyInet: family/inet/any
    groupFamily

[2019-07-25 09:10] #926 closed

[2019-07-30 09:22] #948 closed

[2019-08-19 09:13] rsmekala opened #953 "Empty or wrong ephemeral database instance causes PyEZ script to fail"
Use the following snippet to generate the error:

eph2: Is the non-existent or empty ephemeral instance
[code]

The following error is generated as the method currently returns `True`
[code]

[2019-08-20 18:55] leandrofmilani commented on #466
Does anyone know which specific command or permission is necessary to add to a class that will allow closing the connection?

[2019-09-04 10:38] attila123 commented on #780
TL;DR: it should be possible to set ssh connect timeout via the "connecttimeout" parameter in ~/.ssh/config (or some other ssh config file with custom path).
I did some debugging and looks like:
- PyEZ uses the ncclient library for ssh connections. In ncclient SSHSession.connect() can make use of the "connecttimeout" parameter from an ssh config file, see https://github.com/ncclient/ncclient/blob/

[2019-09-23 09:13] rsmekala commented on #943
@philippetrepanier I have read the reference you mentioned about select not working on windows.

### Issue as quoted in Python docs
[code]

### Proposed solution
It is mentioned that you are currently running Windows 10, which supports running Linux containers. Refer https://tutorials.ubuntu.com/tutorial/tutorial-windows-ubuntu-hyperv-containers#0

You can run the PyEZ container( Linux based ), an

[2019-09-24 05:29] rsmekala commented on #906
Closing the issue. Please do reopen if required ✌️

[2019-09-24 05:29] #906 closed

[2019-09-24 05:34] rsmekala commented on #903
Closing this issue. Please reopen if required ✌️

[2019-09-24 05:34] #903 closed

[2019-09-24 05:37] rsmekala commented on #880
Closing this issue. Please reopen if required ✌️

[2019-09-24 05:37] #880 closed

[2019-09-24 05:44] rsmekala commented on #864
Closing the issue. The fix is committed. I will work on adding the UT.

Please reopen if required ✌️

[2019-09-24 05:44] #864 closed

[2019-09-24 05:52] rsmekala commented on #874
Fixed via https://github.com/ncclient/ncclient/pull/283. Released via `ncclient-0.6.3`

Closing this issue. Please reopen if required ✌️

[2019-09-24 05:52] #874 closed

[2019-10-03 01:56] jnpr453nz opened #961 "ER - add a check for pending Junos OS or package install"
Would it be possible to add check for pending or unfinished installs prior to copying a Junos image and kicking off the install?
Currently, there is no such check available.  Being able to make an upload and/or install dependant on such a successful check could save a lot of time.
Thank you

[2019-10-18 07:05] meghajb opened #964 "Exception: Error in get_rpc_equivalent"
I tried the following to get display_xml return value. It is returning the output as follows.
[code]

###  Output (In case the RPC doesn't exist for a valid command)
[code]

Kindly return the proper exception message

[2019-10-18 07:54] rsmekala commented on #964
@meghajb I agree the message can be worded better in case we are not able to find the RPC.

It is doable, let me gather some more info internally and raise the pull request.

Kudos for pointing it out.

[2019-10-18 16:44] sawu-juniper opened #965 "Implement SSH authentication exception error for"
Hi Nitin,

As discussed, I raise this gitHub issue to implement the requested exception on SSH -

Need to implement following in PyEZ exception error to handle the SSH key authentication failure.

    except paramiko.BadHostKeyException as e:
        raise Exception('BadHostKeyException on ' + hostname)
    except paramiko.AuthenticationException as e:
        raise Exception('AuthenticationExcept

[2019-10-21 08:39] vnitinv commented on #961
Code changes done via https://github.com/vnitinv/py-junos-eznc/commit/00b36ec5f9d8631230fd478ff6e7481fb7783cdc. pending UT.

[2019-10-23 10:06] #961 closed

[2019-10-24 13:28] lumi-pwhitney opened #970 "commit_check() timing out"
It would be convenient if commit_check() could also accept a timeout argument as commit() does.

[2019-10-28 08:49] holaleeyan commented on #946
Hi,

I have the same problem during installing on my Ubuntu. Pls find my logs. Thanks.

[pyez install.txt.txt](https://github.com/Juniper/py-junos-eznc/files/3777828/pyez.install.txt.txt)

Cheers,
Thomas

[2019-10-28 11:55] ntwrkguru commented on #946
Typo?

`ImportError: No module named 'jupr'`

[2019-10-29 02:33] holaleeyan commented on #946
Oops...yes u're correct. I tried "--ignore-installed PyYAML" and thought that it still failed due to the typo mistake. But actually it works. Thanks a lot.

sudo -H pip install junos-eznc --ignore-installed PyYAML

[2019-10-29 21:55] dmontagner commented on #927
@dmontagner

[2019-11-06 12:09] meghajb opened #972 "xmlns are missing in execute"
I tried to do execute rpc command xmlns are missing in output
[code]

***OUTPUT:***

XML with Execute RPC command:

[code]

In above output, xmlns is missing for elements "current-pm-list" and "pm-resource-instance"

Actual reply from the device:

[code]

[2019-11-06 19:10] jmcgill298 opened #973 "v2.3.0 breaks imports of modules using the same name as op modules"
The move of the `junos/op/` directory to YAML files with imports moved to `junos/op/__init__.py` causes python to fail to import from modules that use the same name as the op "modules". An example is the f5-sdk which has both `arp` and `vlan` modules. If I import the f5 modules first, then the imports work fine, however if I first import from op (whether `import jnpr.junos.op` or `from jnpr.junos.

[2019-11-06 20:57] ric79 opened #974 "Connection error"
Hello,
I get a connection error for (Model: mx960, Junos: 17.4R2-S3.2) with junos-eznc==2.2.1 and Python 3.7.4
It happens every 3 connections. After 30 seconds the connection returns OK. I use the same approach for handling Juniper QFX and I never had this problem.

[code]

[code]
Here there is the full log
[log.txt](https://github.com/Juniper/py-junos-eznc/files/3816682/log.txt)

Rr

[2019-11-06 21:26] ric79 commented on #974
I found on MX this config:

`system services netconf ssh rate-limit 4`

Removing that line everything was ok. Do you agree that this was the problem?

[2019-11-13 09:18] AJNOURI commented on #877
@vnitinv
Using the script you provided, where can we designate the asynchronous port through which a switch is connected to the terminal server.

Here is an example of a terminal server:

Port    Port Name       Access    Speed  TCP Port  SSH port     Device
  1  	device01        Remote     9600     2100      2122      /dev/ttyGN0
  2  	device02        Remote     9600     2200      2222      /dev/

[2019-11-15 09:28] #974 closed

[2019-11-19 16:24] haddystuff opened #976 "Getting "login_sm_failure" after failing first login attempt"
When i open console connection through telnet with the wrong password:
[code]
i get this message:
[code]
But if i use right password in a second attempt, i get this:
[code]

Also if i close python session and start again, previous code:
[code]
 runs successfully.

I'm trying to connect to Juniper VMX 14.
As Hypervisor i use QEMU/KVM.

[2019-11-25 17:23] vnitinv commented on #973
@jmcgill298 I will check this out and get back to you.

Just one question. Why are you using `import jnpr.junos.op` this way

[2019-11-25 18:25] jmcgill298 commented on #973
The example was to highlight that it has to do with importing the `op` package, and any specific module; it was not meant to provide actual code.

[2019-11-28 07:07] #973 closed

[2019-12-06 20:12] bswilden opened #978 "Command Tables - subsequent calls to get() use the last defined value for command table args rather than the default value defined in the Table"
If a command Table uses a Jinja template for `command` with the default arguments defined under `args` in the Table, then within the same Junos PyEZ script, subsequent calls to `get()` seem to use whatever value was last set for a template variable in the previous calls to `get()` rather than the default value defined in the Table. Can you please confirm, and is it the expected behavior?

[2019-12-21 23:04] iliyaz144 opened #982 "rpc for "request chassis routing-engine master switch""
HI there,
Can you please tell me the right RPC for performing swithover "request chassis routing-engine master switch ".

When ever i perform the above operation, i get many errors and exceptions.

Can you pls tell me the right rpc?

[2020-01-03 04:07] vnitinv commented on #982
@iliyaz144 Can you please share errors and exception. RPC for given command is
request-chassis-routing-engine-switch, so the call should be `dev.rpc.request_chassis_routing_engine_switch()`
let me know if this doesnt work for you

[2020-01-03 04:13] #978 closed

[2020-01-14 06:09] dineshbaburam91 commented on #976
Due to the security risk, `root` login access is not allowed for telnet access which is not encrypted. Kindly use `non-root` login to access the device via telnet. Also, I am not able to see the reported issue in my setup using `non-root` login.

[2020-01-14 06:55] #976 closed

[2020-01-22 05:37] rsmekala commented on #949
@jhay317a When you use `get: protocols/bgp/group/neighbor` it doesn't return the details about `groupFamilies` or `groupFamilyInet`. So, the alternative is to use `get: protocols/bgp/group` and use `key` option get the result in the desired format.

@vnitinv I tried it out, but it resulted in some confusing results. It returns the following output. Please note it only prints 1 entry instead of all

[2020-02-03 13:34] iliyaz144 commented on #982
HI nitin,
I have tried the way you have suggested, but it throws an error below:
**>>> vpn.rpc.request_chassis_routing_engine_switch()
Traceback (most recent call last):
  File "C:\Python37\Lib\site-packages\jnpr\junos\device.py", line 799, in execute
    'filter_xml'))
  File "C:\Python37\Lib\site-packages\jnpr\junos\decorators.py", line 116, in wrapper
    rsp = function(self, *args, **kwargs)

[2020-02-07 14:22] mc opened #987 "Yaml Fullloader in jnpr/junos/factory/__init_"
Hi,

https://github.com/Juniper/py-junos-eznc/blob/e9e6dc1f2decfb163ac68803245a9de19c5d726c/lib/jnpr/junos/factory/__init__.py#L33 uses **Loader=...FullLoader** as arg.

This seems to be python 3 only; it would be helpful to either check for py2/py3 and omit the fulloader version for py3 OR throw a more meaningful error if the intention is to support py3 only.

-u

[2020-02-08 19:25] nzjc opened #988 "get-route-information excessively slow"
Hi

I am using PyEZ 2.3.1 with Python 3.6.1 and MX204's with Junos 18.4R2-S3.

I am trying to "pull down" a full route table from a VRF, something in the order of 1.7M routes (900k active). Using 'show route table X.inet.0 | display xml' on the box takes about 3 minutes to finish. The PyEZ equivalent I am running (from routes.yml, RouteTable):

```ipv4_rib = RouteTable(dev).get(table='X.inet.0', d

[2020-02-12 17:43] ameer131 opened #989 "Config push using JSON format - severity: error, bad_element: operation"
Hi All,

I have a problem when I am doing a config push using JSON format. It works well when I am using XML.

Taking into example that I have an existing interface configuration for ge-1/1/6 as below:
[code]

I am using the default replace operation and I have below YANG-model based format config to be pushed out:
XML:
[code]
JSON:
[code]
Both works well but knowing JunOS, it allows an interface

[2020-02-13 12:58] eleksis opened #990 "sw.install(): no-copy argument is not passed further to rpc command"
Description:
We have a large number of EX2300 switches that need to be upgraded. Process is automated with ansible, which underneath uses junos-eznc library.

Because of very low storage capacity on this model, upgrade process fails due to insufficient space with default command that this module produces:
`/usr/libexec/ui/package -X update -no-validate /var/tmp/junos-arm-32-18.1R3-S9.1.tgz`

If I

[2020-02-13 15:24] EpiqSty opened #991 "Monitor-failures information is missing in PyEZ facts"
I am came here from Juniper/ansible-junos-stdlib#482 because, AFAIK, ansible-junos-stdlib is using py-junos-eznc as the upstream project.

So, my question is, how to get Monitor-failures information in PyEZ facts, is it supported at all?

It's exists in CLI output:
[code]

But seems it's missing at https://github.com/Juniper/py-junos-eznc/blob/master/lib/jnpr/junos/facts/get_chassis_cluster_status

[2020-02-14 09:32] gowrisankarvs opened #992 "yml file with required_keys is not working with get"
Provided example in "https://www.juniper.net/documentation/en_US/junos-pyez/topics/task/program/junos-pyez-tables-config-defining.html" is not working. I am getting following error messge.
[code]
not working yml file
[code]

working yml file:-
[code]

[2020-02-14 10:34] kr3ator opened #993 "Nested table views not working"
I'm trying to use the default bfd.yml Table/View to dump the information on the BFD sessions.
In this file the "bfd_client" field  refers back to other Table/View which doesn't seem to work correctly.

After populating the table with get() method and viewing it in the console all the normal fields are populated correctly but for the "bfd_client" I get:

`('bfd_client', _BfdSessionClientTable:10.20

[2020-02-14 15:44] vnitinv commented on #993
@kr3ator Can you attach or unicast XML from device

you can use
[code]

[2020-02-14 15:45] vnitinv commented on #991
@EpiqSty will discuss with team if this can be included.

[2020-02-14 15:51] vnitinv commented on #990
@eleksis as of now no-copy for PyEZ was used as 'dont copy image its available on device' but for junos no-copy means different.
we need to take look to this parameter. Will discuss with team and get back to you

[2020-02-14 15:55] vnitinv commented on #989
What is the equivalent JSON code for ?
[nitinkr] Will check and get back to you

If XML is the best way to go, what is the preferred way to convert YAML -> XML
[nitinkr] YAML-XML?

Should we first delete the interface configuration and push the configuration? If yes, how can we delete the interface configuration via PyEZ?
[nitinkr] No

If the above way is wrong, what the best way to get the config

[2020-02-14 15:57] vnitinv commented on #987
@mc We should fix this. How about a pull request.

[2020-02-14 16:45] rampolisetty commented on #989
As an alternate can you try this and confirm if this works for you?

 {
     "configuration": {
         "interfaces": {
             "interface": [
             {
                 "name": "ge-1/1/6",
                 "unit": [
                 {
                     "name": 0,
                     "description": "testing..1..2..33...",
                     "family": {
                         "in

[2020-02-14 18:08] bswilden commented on #992
The `required_keys` parameter requires that you supply a value for that key when you retrieve the data in the Junos PyEZ application. For example:

`stats = stats.get(user='readonly')`

If you do not provide a value, you will get the error you noted:
`ValueError: ('This table has required-keys\n', OrderedDict([('user', 'name')]))`

[2020-02-14 19:52] zerowaitstate opened #994 "jnpr.junos.utils.sw needs to support "unlink" option in 18.1R2+"
Per this article, https://kb.juniper.net/InfoCenter/index?page=content&id=KB31198&actp=METADATA EX2300/EX3400 switches may not be able to perform ordinary upgrades from 18.x to another 18.x/19.x release, due to storage limitations (I have confirmed this on an EX3400-48p out of box that shipped with 18.1R3.3).  An option was added in 18.1R2 to request-package-add called "unlink" which removes the p

[2020-02-16 16:04] ameer131 commented on #989
@vnitinv , Thanks for checking this up.
The reason why I wanted to convert YAML -> XML. I would like to have my users or engineer to define the configuration that they would like to push to the device in YAML format which to me is more user-friendly and easy-to-read. I will then create a script that will help to convert the YAML to XML before pushing it to the device.

Should we first delete the i

[2020-02-17 07:02] rampolisetty commented on #989
@ameer131 Thanks for confirming the provided solution is working. Yes, please use this option till 'replace' option is supported.

[2020-02-17 08:26] kr3ator commented on #993
@vnitinv

`<rpc-reply xmlns:junos="http://xml.juniper.net/junos/19.3R0/junos">
    <bfd-session-information xmlns="http://xml.juniper.net/junos/19.3R0/junos-bfd" junos:style="extensive">
        <bfd-session>
            <session-neighbor>172.16.1.10</session-neighbor>
            <session-state>Up</session-state>
            <session-interface>et-0/0/48.0</session-interface>
            <session-

[2020-02-17 09:53] eleksis commented on #990
@vnitinv You are right. I don't know what exactly no-copy flag does 'behind the scene', but it sure helps when upgrading devices with small flash. Maybe it could even be added permanently like 'no-validate' if it doesn't have any negative effects.

[2020-02-17 14:26] zerowaitstate commented on #990
Did not notice this issue when I put in https://github.com/Juniper/py-junos-eznc/issues/994 , but they are related.

[2020-02-17 15:42] eleksis commented on #990
After some additional testing in some cases only no-copy flag is not enough.
According to docs, quote:

we will need support for all these flags in order to successfully make upgrade.

[2020-02-18 05:30] moophat commented on #943
Hi  Rsmekala, is there any updated plan for this. Script that use serial console connection -in our experience - is more useful for cases that the running machine would be on-site with minimal setup. Using a Linux container and attach the serial port to it might would but is not really applicable in production.

[2020-02-18 17:42] kr3ator commented on #993
Today I tried to get this nesting working with custom BGP neighbor and it worked for couple of iterations and then suddenly stopped.

My bgp.yml Table/View file:

[code]

**Output from ansible running juniper_junos_table module:**
[code]
**Corresponding XML answer:**
[code]

I've tried to run it several times now and I always get the same error as with BFD (the only change is in the name of the ne

[2020-02-19 12:52] kr3ator commented on #993
I've managed to figure it out. This is a duplicate of [https://github.com/Juniper/ansible-junos-stdlib/issues/379](url)

I've prepared a patch for this in the junos-stdlib repo.

[2020-02-19 12:52] #993 closed

[2020-02-25 09:22] #989 closed

[2020-02-27 23:32] cserranobr opened #995 "jnpr.junos.utils.start_shell option to choose shell (sh or csh)"
Hello All,

Good afternoon!

I've  already talked to Nitin Kumar about this issue.

I found out that StartShell only has csh, but the CLI command supports sh or csh  as the shell options (I always preferred to work with sh):

And the CLI command has both options:

root@c21-20> start shell ?
Possible completions:
  <[Enter]>            Execute this command
  csh                  Start C shell
  sh

[2020-02-27 23:34] cserranobr opened #996 "jnpr.junos.utils.start_shell option to return error code from shell"
Hello All,

Good afternoon!

It would be great to have an option for the jnpr.junos.utils.start_shell to return the error code from shell.

I created a workaround as per below in one of my scripts, but it would be neat to have it returning the error code:

def CHECK_FPC_CPROD(FPC):
	print("####################")
	print("Checking if CPROD to FPC works")
	COMMAND="sh -c \"cprod -A fpc"+FPC+" -c 'sho

[2020-03-06 16:22] shivintwrk commented on #888
Using open() with serial connection throws the following error which prevents any configurations to be done using serial. This platform is Windows10. Is this due to any limitation regarding serial connection?

INFO:jnpr.junos.tty:TTY: connecting to TTY:COM ...
INFO:jnpr.junos.tty:TTY: logging in......
WARNING:jnpr.junos.tty:login_warn: Shell login was open!!
INFO:jnpr.junos.tty:TTY: OK.....startin

[2020-03-06 16:26] shivintwrk commented on #943
@philippetrepanier : I am having the same issue. Could you find any workaround/solution for it?

[2020-03-06 16:39] philippetrepanier commented on #943
@shivintwrk Haven't had time to work on this project lately but the best solution would be to convert the filehandles into streaming sockets as proposed earlier.
In my use case running in WSL is not an option as moophat pointed out.

[2020-03-06 16:59] shivintwrk commented on #943
@philippetrepanier Running in WSL gives the same errors :(

[2020-03-13 13:22] dhanakane commented on #153
To make things worse, [the docs on the Juniper website are also inaccurate.](https://www.juniper.net/documentation/en_US/junos-pyez/topics/task/program/junos-pyez-connection-methods.html)

If it helps the maintainers, then this feature is available in Netmiko which builds on Paramiko. ProxyJump can also be used on Paramiko. It would be really nice to have a fix for this one. I've read the blog pos

[2020-03-13 13:25] dhanakane commented on #696
Another vote for this feature. Leaving this comment here in case someone else runs into the same problem.

#153 details a workaround where you forward a local proxy to a jumphost, but then need to run a shell command to open up a tunnel to the jumphost before running the command made available by the junos-eznc library.

[2020-03-17 07:38] vnitinv commented on #943
@shivintwrk I can provide a fix, but I dont have system to test. If you can help me with this, we can work together and get the fix in mainline sooner.

[2020-03-17 14:41] vnitinv commented on #943
@philippetrepanier @shivintwrk would you be interested in testing the change as I don't have windows setup

[2020-03-17 18:08] shivintwrk commented on #943
@vnitinv I have a JunOS device connected via console and Windows env. I will try to test it.

[2020-03-17 18:55] shivintwrk commented on #943
@vnitinv Here's what I did:
I installed the repo again using pip. Used read() instead of open() and just tried to print the facts (wasn't sure if it would let me make config changes such as setting up a password) .
It gave me the same error.
Can you please give an eg. of using read()?

[2020-03-18 06:57] vnitinv commented on #943
@shivintwrk install using below command

`pip install git+https://github.com/vnitinv/py-junos-eznc.git@win-serial-com`

you dont have to other about read() changes, thats in PyEZ, you just run your script and share error if any.

just make sure you have these 2 lines in your script for proper debug log
[code]

[2020-03-18 19:41] shivintwrk commented on #943
@vnitinv Did the install again using _'pip install git+https://github.com/vnitinv/py-junos-eznc.git@win-serial-com'_
I tried in two ways and got two different exceptions:

Case 1: Without open()
[code]

Exception:
[code]

Case 2 : With open()

[code]
Exception:
[code]

[2020-03-19 06:07] vnitinv commented on #943
Its not picking up latest code. The log shows error from old library itself. We can sync to debug this. Let me know if you are OK. We can get on ZOOM or something similar. You can unicast me at nitinkr at juniper dot net

[2020-03-19 06:24] moophat commented on #943
Hi guys,
Just a reminder: we have a lot of hardware dedicated for lab testing and this is something that would be very useful for a lot of our upcoming project(s).

So I would be happy to help in troubleshooting/providing debug log or even providing direct VPN access to a testing environment for anyone who can fix this. The goal is for the fix to be merged as soon as possible.

Give me a heads up

[2020-03-19 06:24] moophat commented on #943
Hi guys,
Just a reminder: we have a lot of hardware dedicated for lab testing and this is something that would be very useful for a lot of our upcoming project(s).

So I would be happy to help in troubleshooting/providing debug log or even providing direct VPN access to a testing environment for anyone who can fix this. The goal is for the fix to be merged as soon as possible.

Give me a heads up

[2020-03-19 06:30] vnitinv commented on #943
@moophat Would you help us in testing this patch?

[2020-03-19 06:35] moophat commented on #943
Hi @vnitinv , sure I will do that. Let me know how you want to do it:
1. I clone the code from your and upload the debug log(s) to your repo
2. Provide you remote access to one of our Windows machine consoled to ACX/MX ?

[2020-03-19 06:44] vnitinv commented on #943
@moophat How about going from 1 to 2. If 1 doesn't work, I can work with remote access.

[2020-03-19 06:48] moophat commented on #943
Ok, I will update you with the logs as soon as I have time to access our lab.

[2020-03-19 06:51] vnitinv commented on #996
@cserranobr For VTY command we have one RPC that you can use.
[code]

[2020-03-19 17:03] shivintwrk commented on #943
@vnitinv : I have tried with the context manager but it gives me the the same "io.UnsupportedOperation: fileno" exception.
I used --upgrade this time to install the package hoping that it would resolve the issue of not picking up latest code. It did uninstall and reinstall the package.

[code]

I tried with context manager this time and got a different exception:

[code]

[2020-03-19 18:22] cserranobr commented on #996
Hi Nitin,

I  know we have the RPC  option to collect PFE  data, but we observed that
it is very slow. The  start_shell is much faster.

Thanks,
Carlos.

On Wed, Mar 18, 2020 at 11:51 PM Nitin Kr <notifications@github.com> wrote:

[2020-03-20 13:22] vnitinv commented on #153
@dhanakane Will work and get this closed by next week.

[2020-03-20 17:38] a-v-popov commented on #153
It is working for me (please note it doesn't mean it is working for everybody):
[code]
ProxyCommand is loaded by ncclient here:
https://github.com/ncclient/ncclient/blob/6a2b112388142362c2cdc43e87586e185157d038/ncclient/transport/ssh.py#L273

You can verify if it is working in the debug logs:
[code]
Or try to mimic the same thing manually:
[code]
Please note that I am using keys to authenticate to

[2020-03-20 18:06] amitmi704 opened #1002 "LACP Op YML: Insufficient information gathered"
The "lacp.yml" file does not parse the "get-lacp-interface-information" output for the name of the AE, or the name of the participating ports.

[2020-03-20 19:38] jalphonso commented on #153
@ dhanakane the error you see "Error reading SSH protocol banner" in this case is because hostname/ip resolution of the end device on the jumphost fails. Try adding the host entry to /etc/hosts on the jumphost and remove the Hostname param from your ssh config for the device that requires the jumphost. This should resolve it in the interim.

[2020-03-20 21:11] amitmi704 opened #1004 "PhyPort Op YML: Insufficient information gathered"
The "phyport.yml" file does not parse the "get-interface-information" output for the name of ports.

[2020-03-21 00:44] a-v-popov commented on #153
If we have config like this
[code]
PyEZ will overwrite Host with Hostname here:
https://github.com/Juniper/py-junos-eznc/blob/6f02b26cdca98f9153ac3c83d98882b872477f23/lib/jnpr/junos/device.py#L431
It is then passed to ncclient as host. As result ncclient will be trying to get config for wrong Host and fail to get ProxyCommand.

[2020-03-22 14:01] a-v-popov opened #1006 "PyEZ overwirtes host with hostname"
If we have config like this
[code]
PyEZ will overwrite Host with Hostname here:
https://github.com/Juniper/py-junos-eznc/blob/6f02b26cdca98f9153ac3c83d98882b872477f23/lib/jnpr/junos/device.py#L431
It is then passed to ncclient as host. As result ncclient will be trying to get config for wrong Host and fail to get ProxyCommand.

_Originally posted by @a-v-popov in https://github.com/Juniper/py-juno

[2020-03-23 07:35] vnitinv commented on #991
@EpiqSty Discussed this with the team. Adding many other facts will make facts gathering more time consuming (which it already is). We only wanted to keep facts which are common in nature and often to be used.
User-specific data can be fetched using RPC/CLI calls.
Let me know if you have a different opinion.

[2020-03-23 12:03] moophat commented on #943
Hi @vnitinv , apolozies for the late reply, there was an power issue with our lab so I have to turn off some device during the weekends.

But good new is that the updated code seem to work, even when the console session was currently in a logged in prompt, which is great.
I'll need to test further functionality with the tableview retrieval and setting new configuration before confirming that every

[2020-03-23 14:03] EpiqSty commented on #991
Well, the actual question is if the `device.rpc.get_chassis_cluster_status` contains such information of not.
In case if it's already exists in RPC output, I see no real increase of time.
In case if it's not exists there,  maybe I could ask upstream developers to add it.
Thanks for your time anyway

[2020-03-24 10:43] vnitinv commented on #1006
@a-v-popov Alex, please check if anything extra need to be done to fix this issue in https://github.com/Juniper/py-junos-eznc/pull/1007

[2020-03-24 12:16] vnitinv commented on #991
@EpiqSty I got you what you are saying, we already use that RPC to fetch cluster facts https://github.com/Juniper/py-junos-eznc/blob/8f8cbaf3677d7f94fded5863a7cbb0f10c64643c/lib/jnpr/junos/facts/get_chassis_cluster_status.py
if we can use same output to get `Monitor-failures` it wont be that tough to add them.
Can you help me with the XML o/p from the given command.

`show chassis cluster status |

[2020-03-24 12:47] EpiqSty commented on #991
@vnitinv , sure please:

[code]
and the same in xml:
[code]
As you could see, `monitor-failures` tag exists in XML output under chassis-cluster-status/redundancy-group/monitor-failures
So I would expect same hierarchy/naming for PyEZ facts as well, if possible.
Thanks!

[2020-03-24 14:17] vnitinv commented on #991
@EpiqSty And how do you expect facts to look like?

[2020-03-24 17:57] EpiqSty commented on #991
@vnitinv as I said ,I am came here from Juniper/ansible-junos-stdlib#482, and I don't know how exactly PyEZ facts are looks like, but I would expect such hierarchy:

[code]

[2020-03-24 21:14] dhanakane commented on #153
@a-v-popov do you mean that token expansion breaks? When I debug with a known working SSH config file using `ProxyCommand` (i.e: I can `ssh somehostnamenotinDNSusingajumphost` from the command line and it works fine) it looks like token expansion will expand it to the IP address.

In my case, `Host` in my SSH config file is not in DNS, so it must use the `HostName` entry which has the IP address f

[2020-03-25 16:00] amitmi704 commented on #1004
Issue related to JunOS Ansible Collection table module: default "response_type" strips all keys from data passed up to Ansible.

[2020-03-25 16:00] #1004 closed

[2020-03-26 13:31] a-v-popov commented on #153
You don't need to resolve it locally. It should be resolvable on the jumphost.
If you cannot fix hostname resolution on the jumphost, you could try to embed IP in ProxyCommand.
[code]

[2020-03-27 07:19] moophat commented on #988
This is not the problem with netconf or the rpc, as we have collected text with that much length without problem before. You can test the actual pulling time by try executing the rpc get-route-information into text format & print to stdout. I believe the time will be significantly different.

But what you are doing is getting those 1.7M route into a optable, which involve parsing the xml into Tabl

[2020-03-27 08:58] nzjc commented on #988
@moophat thanks for that insight, I will try it that way!

Cheers

[2020-03-30 10:44] vnitinv commented on #929
Sorry for such a log delay.

Can you run your script with log enables and share the logs.

adding these 2 lines in the script will help
[code]

[2020-03-30 10:47] vnitinv commented on #987
@mc Which Python 2.x you are using? try upgrading YAML. That should fix the issue.

[code]
[code]

[2020-03-30 10:47] #987 closed

[2020-03-31 05:31] #943 closed

[2020-03-31 10:48] #891 closed

[2020-03-31 11:52] #1006 closed

[2020-04-06 05:52] CodeTechies opened #1015 "error when importing jnpr.junos"
Traceback (most recent call last):
  File "C:\Python38-32\lib\site-packages\ntc_templates\parse.py", line 5, in <module>
    from textfsm import clitable
  File "C:\Python38-32\lib\site-packages\textfsm\clitable.py", line 41, in <module>
    from textfsm import texttable
  File "C:\Python38-32\lib\site-packages\textfsm\texttable.py", line 42, in <module>
    from textfsm import terminal
  File "C:

[2020-04-07 16:19] vnitinv commented on #1015
@CodeTechies Share the o/p of `pip list`

[2020-04-08 00:52] CodeTechies commented on #1015
c:\Python38-32>pip list
Package               Version
--------------------- -------
appdirs               1.4.3
astroid               2.3.3
bcrypt                3.1.7
cffi                  1.14.0
colorama              0.4.3
cryptography          2.9
distlib               0.3.0
filelock              3.0.12
future                0.18.2
importlib             1.0.4
isort                 4.3.21
Jinja2

[2020-04-08 00:58] ntwrkguru commented on #1015
These seem to be other imports failing, not pyez. Open IDLE and try a plain import of `jnpr.junos`, pasting the output. The first error was:

   ModuleNotFoundError: No module named 'fcntl'

The second error was:

   ModuleNotFoundError: No module named 'clitable'

[2020-04-08 01:21] CodeTechies commented on #1015
Thanks solve by removing the textfsm and install the pip install textfsm==0.4.1

[2020-04-08 01:21] ntwrkguru commented on #1015
"The fcntl module is not available on Windows. The functionality it exposes does not exist on that platform." From [SO](https://stackoverflow.com/questions/45228395/error-no-module-named-fcntl).

@vnitinv May need to work around this with a try during the load, but since it's loaded with `ntc-templates`, that may not be trivial. Must we depend on ntc-templates just to get TextFSM?

[2020-04-08 05:39] vnitinv commented on #1015
textfsm already has this fix but in github. I asked the owner to release it to PyPI. Let's see if he responds back

https://github.com/google/textfsm/issues/78

[2020-04-09 13:45] ipmonk opened #1017 "when ssh_private_key_file is specified that has passphrase, and none specified, incorrect exception raised"
user@ubuntu-16-04-4-server-amd64:~$ python3
Python 3.5.2 (default, Oct  8 2019, 13:06:37)
[GCC 5.4.0 20160609] on linux
Type "help", "copyright", "credits" or "license" for more information.

//  pass in a private RSA key with passphrase and passwd as None

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/user/.local/lib/python3.5/site-packages/jnpr/junos/util

[2020-04-10 18:27] ntwrkguru opened #1018 "circular dependency with napalm"
When installing 2.4.0, napalm throws an error:

[code]

Not sure why we're including napalm now, but we should probably pressure the napalm folks to update their requirements to perhaps be >=2.2.1?

[2020-04-10 18:32] ntwrkguru commented on #1018
This appears to be resolved in [master](https://github.com/napalm-automation/napalm/blob/develop/requirements.txt), but not yet released.

[2020-04-13 10:51] vnitinv commented on #1018
@ntwrkguru We dont install NAPALM. You must be having that module already installed. Hence `pip` is complaining about NAPALM mismatch for PyEZ

[2020-04-13 11:55] ntwrkguru commented on #1018
It's a dependency of ntc-templates.

[2020-04-13 12:21] #1018 closed

[2020-04-13 16:36] vnitinv commented on #1018
@ntwrkguru we can check with NAPALM when they are releasing new version

[2020-04-13 16:42] vnitinv commented on #1017
[code]

Can you try changing `passwd` to `None` and not `"None"`

[2020-04-13 16:42] ntwrkguru commented on #1018
So, NAPALM has a dependency on PyEZ, but in 2.5, they changed from >= to ==. This is fixed in master, so should be all good now.

[2020-04-14 12:01] ipmonk commented on #1017
Thanks Nitin, rookie mistake in the submission. The documentation link is: https://docs.paramiko.org/en/stable/api/agent.html exception is raised by from_private_key() and from_private_key_file().

I discovered that the bug as described is in paramiko.
We hit this code path in _read_private_key_pem():

        # if no password was passed in,
        # raise an exception pointing out that we need o

[2020-04-14 12:01] #1017 closed

[2020-04-17 04:43] vnitinv commented on #1015
fixed via https://github.com/Juniper/py-junos-eznc/pull/1019

[2020-04-17 04:43] #1015 closed

[2020-04-21 10:34] vnitinv opened #1021 "timeout and rpc_timeout difference"
Config class use timeout whereas all RPC uses rpc_timeout.
We should document this difference in behavior.

[2020-04-21 15:55] Birajan2019 opened #1022 "RE: ModuleNotFoundError: No module named 'clitable'"
Hi Guys,

I used "pip install junos-eznc" to automatically download and install all of the required packages for pyez.
The download and install process seemed to go fine, but when I try to execute the command "from jnpr.junos import Device"
I get the following errors. Can somebody please help?

C:\Users\firstname.lastname>python
Python 3.8.2 (tags/v3.8.2:7b3ab59, Feb 25 2020, 23:03:10) [MSC v.1916

[2020-04-21 19:36] ntwrkguru commented on #1022
Please see #1015. Fixed by #1019 and is available in master.

[code]

[2020-04-21 21:14] Birajan2019 commented on #1022
Thanks @ntwrkguru. I just pip uninstalled textfsm 1.1.0 and reinstalled textfsm 0.4.1 for the fix.

[2020-04-21 21:15] ntwrkguru commented on #1022
@Birajan2019 Good. Ok to close then?

[2020-04-21 21:50] Birajan2019 commented on #1022
Yes, @ntwrkguru, good to close.

[2020-04-21 21:50] #1022 closed

[2020-04-22 02:54] CodeTechies opened #1023 "dev.rpc.get_config(options={'format':'set'}) return xml output"
full_config_set = dev.rpc.get_config(options={'format':'set'})
result_set=etree.tostring(full_config_set, encoding='unicode', pretty_print=True)

**sample oututput:**
<configuration changed-seconds="1587285337" changed-localtime="2020-04-19 08:35:37 UTC">
  <version>14.1R1.10</version>
  <system>
    <host-name>R1</host-name>
    <root-authentication>
      <encrypted-password>$1$wzba3NOW$n.NtL/8/

[2020-04-23 05:34] vnitinv commented on #877
@AJNOURI Sorry for such a long delay in response. I might need to get a similar setup to debug what needs to be fixed (if any). Will get back to you.

[2020-04-23 12:36] ntwrkguru commented on #877
Have you tried connecting to the SSH port in the Device constructor? i.e.

[code]

[2020-04-24 07:46] vnitinv commented on #1023
@CodeTechies Can you add this logging line in your script and share log too understand what rpc was fired and the corresponding response from device.
[code]

[2020-04-24 13:07] vnitinv commented on #1023
get config RPC support for `set` format was included only from 15.x Junos. Hence the issue.

[2020-04-25 10:40] CodeTechies commented on #1023
noted the vmx is in 14.1

[2020-04-25 10:40] #1023 closed

[2020-04-26 12:43] Birajan2019 opened #1024 "Pushing simple config changes to Junos switch using pyez"
Hi Guys,

I am looking for a simple program to perform similar configuration changes to nearly 10 switches.

The command should look something like this:

- Log into 10 switches, using the IP address, username and password through ssh
- Perform a rollback 0
- Configure multiple domain name and DNS server
- Issue a commit
- Print the output of the following 2 show commands from each of the switches

[2020-04-27 05:03] vnitinv commented on #1024
@Birajan2019 Have you explored using Ansible for this purpose.

[2020-04-27 13:06] Birajan2019 commented on #1024
Thanks Vinit, I will check the ansible option as well.

[2020-04-27 13:17] sean1986 commented on #1024
@Birajan2019, you might also find a couple books from Juniper's "Day One" library helpful:
https://www.juniper.net/documentation/jnbooks/en_US/day-one-books/

"Automating Junos with Ansible, 2nd edition" -- writing Ansible playbooks to query devices for information and make configuration changes.

"Junos PyEZ Cookbook" -- a series of "recipes" for using PyEZ.

[2020-04-27 14:22] ntwrkguru commented on #1024
@Birajan2019 [This](https://www.juniper.net/documentation/en_US/junos-pyez/topics/task/program/junos-pyez-program-configuration-data-loading.html) may help you.

Keep in mind that there are myriad ways to accomplish any given task. If this is purely for this one exercise, then it's fairly basic. However batch configuration and operational tasks are pretty common place. If it were me, I would write

[2020-04-27 21:35] Birajan2019 commented on #1024
Thanks @sean1986  and @ntwrkguru. It really helps to see the different options available. I will try the ansible option 1st (which I am close to finishing) and then try the python option suggested by @ntwrkguru. This case can be closed.

[2020-04-28 12:01] #1024 closed

[2020-04-29 08:42] ldhulipala-49 opened #1026 "Need more information from the pyez regarding the software install"
Hi Nitin,
       As discussed, we need more information from the pyez during the software install failure other than just "False" as status. It would be good if more information regarding the reason for failure is returned to TOBY.

Thanks,
Raghu

[2020-05-06 18:39] andydavidson opened #1029 "JSON "Invalid control character" on extensive=True get-route-information"
Can't do extensive=True on rpc.get-route-information without tickling a JSON parsing error

The issue appears to be that there is a newline character inside the JSON.

The JSON loads when I append strict=False to the file /usr/local/lib/python3.5/dist-packages/jnpr/junos/device.py

[code]

[2020-05-07 10:25] vnitinv opened #1030 "sw.install to return failure message"
for example

(False, "I failed due to ....")

[2020-05-07 10:30] vnitinv commented on #1029
@andydavidson Which version of junos you are running? can you share the O/P for show route extensive  | display json. You can unincast me at nitinkr [at] juniper [dot] net

[2020-05-07 18:19] andydavidson commented on #1029
@vnitinv Nitin, thanks for your reply!  This is what we have for JUNOS in our lab where I am running this:

Model: vmx
Junos: 18.2R1.9

I will send you my show route extensive by email now.

[2020-05-13 13:51] Kajalwaldiya opened #1032 "wrong device version when fetching pyez facts for nfx250ha-c"
Hi,
The pyez version info received for this particular device:nfx250ha-c for is coming wrong.

{'2RE': False, 'HOME': '/var/home/regress', 'RE0': {'status': 'OK', 'up_time': '10 hours, 35 minutes, 48 seconds', 'mastership_state': 'master', 'model': 'RE-NFX250-S2', 'last_reboot_reason': '0x1:power cycle/failure'}, 'RE1': None, 'RE_hw_mi': True, 'current_re': ['master', 'fpc0', 'node', 'fwdd', 'memb

[2020-05-20 13:52] tirkarthi opened #1033 "Importing ABC from collections has been deprecated and will be removed in Python 3.10"
Importing ABC from collections has been deprecated and will be removed in Python 3.10. Use collections.abc for Python 3 and collections for Python 2.

[code]

[2020-05-20 13:53] tirkarthi opened #1034 "Deprecation warning due to invalid escape sequences"
Deprecation warnings are raised due to invalid escape sequences. This can be fixed by using raw strings or escaping the literals. pyupgrade also helps in automatic conversion : https://github.com/asottile/pyupgrade/

[code]

[2020-06-04 11:48] jutkarsh079 opened #1039 "Device is closing the session"
I am just testing to connect to device but the device is closing the connection unexpectedly.

    from pprint import pprint
    from jnpr.junos import Device

    with Device(host=TESTHOST,
            user=TESTUSER,
            password=TESTPASS) as dev:

    pprint( dev.facts )

Here is the traceback:

`Traceback (most recent call last):
  File "test_jnpr.junos.py", line 10, in <module>
    pas

[2020-06-04 12:13] ntwrkguru commented on #1039
What is the device?

[2020-06-04 14:41] jutkarsh079 commented on #1039
@ntwrkguru  its a juniper mx960 router

[2020-06-04 14:50] ntwrkguru commented on #1039
It *shouldn't* matter, but can you try with Python3? Python 2 is dead. I'd like to rule out something with a Python2 library.  Also, please try this as well and post the output:
`ssh TESTUSER@192.168.82.104 -p 830 -s netconf`

[2020-06-05 02:19] jutkarsh079 commented on #1039
Same thing with python3.

[code]

I am able to ssh into machine with
[code]

[2020-06-10 20:53] nskalis opened #1044 "runtime error: when trying to remove_namespaces"
Hi,

I am facing a runtime error (for the first time) when trying to download the BGP routing table on a router

[code]

If I download the command output manually, it begins with:
[code]

I can share the whole file in a unicast way, if desired.

Would you be so kind to advise on what might be wrong and how to fix this?

[2020-06-12 08:11] rahkumar651991 commented on #1044
Can you share the xml and netconf trace?
Unicast it to jnpr-community-netdev@juniper.net

[2020-06-12 08:41] nskalis commented on #1044
thanks @rahkumar651991 for looking at it

not sure what you mean with Netconf trace, maybe this one (?)
[code]

the .xml output is on its way

[2020-06-12 09:59] ydnath commented on #1044
@nskalis Please refer https://www.juniper.net/documentation/en_US/junos/topics/example/netconf-traceoptions-configuring.html

[2020-06-12 11:35] vnitinv commented on #1044
@nskalis We will also need code snippet from where this is failing, Are you using filter_xml keyword by any chance?

[2020-06-12 11:37] nskalis commented on #1044
@vnitinv yes, indeed

[code]

[2020-06-12 11:40] vnitinv commented on #1044
Thanks @nskalis The code is fine.

[2020-06-15 15:22] andydavidson commented on #1029
Is there any more on this?  I think if the newline character was stripped from the extensive output, the problem would go away.

[2020-06-15 15:44] andydavidson commented on #1029
I have submitted a pull request for the change which makes this problem go away on my system, hope you can incorporate it into a release soon.

[2020-06-15 18:21] ktbyers commented on #1015
FYI, a new TextFSM release is not sufficient, TextFSM also needs to incorporate this PR:

https://github.com/google/textfsm/pull/82

FYI, @vnitinv

[2020-06-16 08:17] kubco2 opened #1049 "Option to set custom get-configuration parameters"
Hello,

on some devices, we are facing issues with getting config that is requested with options `inherit="inherit" commit-scripts="apply"`.

The problem is that devices return error message:
`file copy of database failed`

If either inherit is not present or commit-scripts value is not `apply`. It works.

We found this issue while getting facts. Especially this block of code is problem.
https://g

[2020-06-16 12:34] rahkumar651991 commented on #1049
Hi @kubco2 ,

Can you share the device you are using and junos version.
Also share the debug logs for this scenario.

[2020-06-16 13:21] kubco2 commented on #1049
@rahkumar651991 device is in restricted enviroment and it is not possible to reset it or do some destruction changes.  It is not possible to share everything. At least I am sharing some information and netconf device tracefiles.
We have 2devices same model and same version:
QFX5100-48S-6Q 16.1R5.7
While on one device everything works fine, on other device it fails as mentioned, interesting is that

[2020-06-18 09:58] rahkumar651991 commented on #1049
@kubco2 - It looks to be a space issue. Can we get these data from the QFX device?
* Available disk space for /var/rundb/
* $ls -l /var/rundb
* Try cleaning the disk space and retry the RPC.

Few ways to clean disk space would be -
1) Run the request system storage cleanup command. This will remove unnecessary files but keep everything under /root intact.
root@juniper> request system storage clean

[2020-06-21 12:21] nskalis commented on #1044
Thank you guys for the support last Friday.

Using `junos-eznc==2.3.1` and passing `huge_tree` at the `Device` level
[code]

After enabling the `DEBUG` logging level the error mentioned is:
[code]

Could you please advise how-to progress with it ?

[2020-06-30 17:46] mirceaulinic commented on #1032
I'm noticing the same on multi-node SRX 4100 series.

I personally find it's a very surprising decision to just return a dummy, meaningless version when unable to extract the information (usually it's better to raise an error, than silently make it look like everything is fine).

[2020-06-30 18:08] ntwrkguru commented on #1032
That isn't a PyEZ error or dummy data; it's coming from Junos. It won't matter if it's multi-node, or not, I don't think. It's an issue of being virtual Junos and not populating `version_info`.

[2020-06-30 18:49] mirceaulinic commented on #1032
What do you mean by `being virtual Junos`? The devices I'm seeing this on are actual production firewalls, and in `show version | display xml` I'm seeing the version being reported correctly as `<junos-version>15.1X49-D120.3</junos-version>`.
Alas, that dummy data does seem to be set by PyEZ when being unable to extract the data from the reply: https://github.com/Juniper/py-junos-eznc/blob/master/

[2020-06-30 19:06] ntwrkguru commented on #1032
2 things:
- The newer chassis use virtual Junos on a Junos-branded box, running a hypervisor. Much like a vSRX on an NFX.
- So you would prefer "None" to some placeholder data? Or you would prefer it to throw an exception, even if otherwise the logic would be fine without it?

[2020-07-01 16:27] mirceaulinic commented on #1032
Thanks for clarifying @ntwrkguru. I would prefer to throw an exception, than filling up with meaningless data -- this way, it's clear to the ens user that there's a problem, report it and get it fixed; otherwise, it masks an issue, and makes it confusing (both for the user, and the maintainers as it seems to be the case as per discussion above).

[2020-07-01 16:40] ntwrkguru commented on #1032
Problem with the exception is that, unless you disable fact gathering, you will always hit an exception in these cases, where you may not even need that key from the facts. I think the best course of action is for us to raise a PR to Junos to populate that field with a value. I do think a valid interim step would be to set it to "unknown" or some self-explanatory string as opposed to"0.0|0.0", tho

[2020-07-01 16:50] mirceaulinic commented on #1032
Before I start working on a PR, let me share some more details of what I'm seeing:

- The full XML reply is:

[code]

- ``current_re`` in the facts is: ``['master', 'fpc0', 'node', 'fwdd', 'member', 'pfem', 're0', 'fpc0.pic0']``. Notice that ``node0`` and ``node1`` from the `show version`` output above, are not listed in there. This seems to have an implication around the logic from https://github

[2020-07-02 05:34] rahkumar651991 commented on #1030
Issue resolved and checked in latest release. closing it.

[2020-07-02 05:34] #1030 closed

[2020-07-02 05:36] rahkumar651991 commented on #1026
Code changes done for the issue in https://github.com/Juniper/py-junos-eznc/pull/1045 .
Closing the issue as it is merged in latest release. Do read release notes of 2.5.0 for further info.

[2020-07-02 05:36] #1026 closed

[2020-07-03 12:59] vnitinv commented on #1032
These are the commands used by PyEZ to gather some facts based on which version is decided

Working device

[code]

is cluster id 255 expected value?
Above cluster id is operated with bit wise operator

https://github.com/Juniper/py-junos-eznc/blob/master/lib/jnpr/junos/facts/current_re.py#L62-L80

and then is matched with below commands o/p to decide current ids. 10 << 4 is 160

[code]
But in cas

[2020-07-04 18:43] penguin02007 opened #1051 "junos-eznc does not appear to be currently installed"
Juniper.junos is having a problem finding the module junos-eznc on Mac OS.

Is this a compatibility issue with python3? Reinstalled junos-eznc few times but no luck

[code]

[2020-07-05 15:33] rahkumar651991 commented on #1051
Hi @penguin02007 ,

Few scenario we have seen similar error could be.
1) If you are using venv you might be using wrong python location.
2) You have both python2 and python3 installed and junos-eznc is using one and ansible is using the other.

https://docs.ansible.com/ansible/latest/reference_appendices/python_3_support.html - check ansible_python_interpreter which may resolve this.

If the issue

[2020-07-06 16:32] #1032 closed

[2020-07-06 16:33] #819 closed

[2020-07-09 01:51] penguin02007 commented on #1051
Yes I am aware I have python2 and 3 installed but I also confirm junos-eznc are installed via pip and pip3.

[code]

[2020-07-09 01:58] penguin02007 commented on #1051
I see it now from the verbose section, for some reason it is still using default `/usr/bin/python` regardless ansible --version disagree show different.

Adding this in ansible.cfg fixed the problem. Thanks @rahkumar651991
[code]

[2020-07-09 11:51] ntwrkguru commented on #1051
@penguin02007 Unless `ansible_python_interpreter` is set via config or var, it will use the system Python. Interestingly, although it's called "auto-discovery', it's just programmed via the platform to look in specific places, not using `env`. Glad you got it working, closing this case.

[2020-07-09 11:51] #1051 closed

[2020-07-10 11:07] dhanakane-tw opened #1057 "Supplying a commit comment results in an error"
JunOS version:
Model: vSRX
Junos: 18.3R1.9

When a commit comment is supplied the action fails with:
[code]

This works fine on a different version of code `--- JUNOS 19.4R2.6 Kernel 64-bit XEN JNPR-11.0-20200411.2b552dd_buil` on a vSRX too. Also, there is no clustering configured. I have used show commands to check, and there is no configuration related to `junos-default-bypass-mime` in the confi

[2020-07-13 17:51] rahkumar651991 commented on #738
seems to have been handled in code.
closing the issue.

[2020-07-13 17:51] #738 closed

[2020-07-13 18:04] rahkumar651991 commented on #933
closing the issue.

[2020-07-13 18:04] #933 closed

[2020-07-13 18:06] #946 closed

[2020-07-14 00:50] ntwrkguru commented on #679
Wouldn't the better practice be to use PIP and pipenv/virtualenv/venv, or even a container? This seems much better than relying on the package management system of a particular distribution. In this case, you're swapping OS dependencies for Python versions and dependencies. Just thinking about the expanded matrix of tests that will follow this. How many  older versions of PyEZ will we support, on

[2020-07-15 06:55] rahkumar651991 commented on #696
closing this as fixed in latest release.

[2020-07-15 06:55] #696 closed

[2020-07-15 10:05] rahkumar651991 opened #1059 "Version not in sync with versioneer when fetched from ansible module"
Version file need to fetch the version corresponding to the versioneer details. It is currently picking wrong values when fetched from ansible roles and similar modules.

[2020-07-16 09:41] #1059 closed

[2020-07-16 09:54] rahkumar651991 commented on #1057
Hi @dhanakane-tw
can you share the netconf trace for both the working and error scenario.

check this link for more info - https://www.juniper.net/documentation/en_US/junos/topics/example/netconf-traceoptions-configuring.html

[2020-07-16 12:01] #925 closed

[2020-07-17 06:12] rahkumar651991 commented on #964
Closing issue, as code changes merged.

[2020-07-17 06:12] #964 closed

[2020-07-17 06:18] rahkumar651991 commented on #988
Closing the issue, as the optimisation suggested should work.

[2020-07-17 06:18] #988 closed

[2020-07-17 06:34] rahkumar651991 commented on #992
As the comment explains it, closing the issue.

[2020-07-17 06:34] #992 closed

[2020-07-17 06:38] rahkumar651991 commented on #972
we have added remove_ns feature. Check it. It should resolve your issue.

https://github.com/Juniper/py-junos-eznc/blob/62a2fbb2465dd7fa54c97cfbaba2958a96bb82e6/lib/jnpr/junos/rpcmeta.py#L102

[2020-07-17 06:38] #972 closed

[2020-07-17 09:25] pieterdejaeghere opened #1061 "OSPF get commands return no data for non-default routing-instances"
JunOS version:
Model: EX9208
Junos: 17.3R3-S7

On CLI:

[code]

On eznc 2.5.0:
[code]

From my understanding of how eznc works, this should be fixable by editing the yaml files for OSPF and include a parameter instance with a default. However couldn't get that to work yet on a first attempt. Situation is identical for OSPFv3.

Thanks for looking into it.

[2020-07-18 22:13] nskalis commented on #1044
[code]

`remove_namespaces` did the trick, thank you!

[2020-07-18 22:13] #1044 closed

[2020-07-21 06:51] rahkumar651991 commented on #996
dev.rpc.request_pfe_execute(target='fpc0', command='show version', timeout=0)

Use this function with timeout=0 , fpc will return response immediately.

[2020-07-29 07:01] #991 closed

[2020-08-03 10:57] rahkumar651991 opened #1064 "Testcase failing in PyEZ after ncclient upgrade"
Testcase test_factcache_refresh_exception_on_failure is failing when ncclient 0.6.7 is upgraded to 0.6.8 .

[2020-08-03 11:46] eleksis commented on #990
@vnitinv ping

[2020-08-03 15:50] tonusoo commented on #466
`.*close-session` under [allow-commands](https://www.juniper.net/documentation/en_US/junos/topics/reference/configuration-statement/allow-commands-edit-system.html)

[2020-08-04 07:52] #1064 closed

[2020-08-04 16:14] vnitinv commented on #990
@eleksis sw.install supports all the parameters at run-time (it's designed dynamically as many params keep getting added now and then for request package add command). If it's not documented, it will still pick it up and pass it to RPC call.
So give a try with any params you want to use. If you face any issue, let us know.

[2020-08-04 17:05] eleksis commented on #990
@vnitinv Yes, I see sw.install method passes kwargs to pkgadd, but what bothers me is 'no-copy' argument. As it is already used in sw.install method and if i understand correctly there is no way to pass it further to pkgadd. Correct me if i am wrong.

ps. Another thing is, I am not even 100% if I need to pass 'no-copy' flag to 'package add' command. As junos firmware is not open-source it is just

[2020-08-18 13:51] uk-sw opened #1069 "Unit number is not appropriate errors"
When attempting to load a configuration on to the Juniper SRX1500 with either format=text or format=set,I receive errors as below:

ConfigLoadError(severity: error, bad_element: None, message: warning: statement not found: policy trust-to-untrust
error: unit number is not appropriate: ge-0/0/1.0
error: statement creation failed
error: unit number is not appropriate: ge-0/0/0.0
error: statement cre

[2020-08-20 08:59] rahkumar651991 commented on #1069
@uk-sw  Can you share the configuration you are trying to load.
Also share the netconf trace at the device for the execution. You may unicast at  jnpr-community-netdev@juniper.net

Refer for more https://www.juniper.net/documentation/en_US/junos/topics/example/netconf-traceoptions-configuring.html

[2020-08-20 09:42] uk-sw commented on #1069
Thanks, I unicasted this to the email you provided.

[2020-08-20 09:51] uk-sw commented on #1069
Receiving errors when trying to email you on that address:
mx0a-00273201.pphosted.com gave this error:
DMARC Record Misconfiguration.please check the DMARC settings

[2020-08-21 07:06] rahkumar651991 commented on #1069
Can you try on my personal email-id rahkumar@juniper.net. the earlier was an alias.
If this doesn't work then check with your DNS provider or send it with your personal email id.

[2020-08-24 08:47] jnpr-pradeep opened #1071 "vmhost re based image upgrade is failing while reboot"
Error from the device for the reboot command:

Aug 23 18:44:40 [NETCONF] - [25366] Incoming: <?xml version="1.0" encoding="UTF-8"?><nc:rpc xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="urn:uuid:45212862-05d4-4c0e-bff9-cbabb4b8e61e"><request-vmhost-reboot><routing-engi
ne>both</routing-engine><in>0</in></request-vmhost-reboot></nc:rpc>]]>]]>
Aug 23 18:44:40 [NETCONF] - [25366] Outg

[2020-08-31 05:43] jameskirsop opened #1073 "Add support for SSH's ProxyJump command"
Take the following SSH Config file example:
[code]

This module ignores the ProxyJump line and tries to connect to the host directly, ignoring the provided configuration.

This is tangentially referenced [here](https://github.com/Juniper/py-junos-eznc/pull/648#issuecomment-442039984).

When calling from within NAPALM, the following is output in debug mode suggesting the root of the fault is with t

[2020-09-01 06:42] rahkumar651991 commented on #1073
Hi @jameskirsop  - What are the parameters sent to the device as login credentials. 10.0.0.5:22 doesn't match with host details.
Can you provide more details.

[2020-09-01 08:59] jameskirsop commented on #1073
Sorry @rahkumar651991, I don't understand the question.

I've intentionally removed and masked login credentials to ensure device security:
`$ napalm --debug --user myUsername --password myPassword  -o "ssh_config_file='/path/to/ssh_config_file'" -v junos 10.0.0.5`

The provided sample SSH Config File indicates that a connection to `10.0.0.5` will `ProxyJump` through `192.168.0.1`.

[2020-09-02 16:09] rahkumar651991 commented on #1073
can you share the output for this command.
[code]

[2020-09-13 16:08] dmtx97 opened #1076 "Cannot escape quotes from cli -c using Start Shell"
This is more an issue with cli on Junos devices but I am not too sure how to match case with spaces.

Documentation states to escape quotes with ``\``, however even on my physical device, doing this does not work. Does anyone have a similar issue or am I doing this incorrectly?

Thank you.

Below is a simple example of what I am trying to accomplish. I never use the -c flag when checking informati

[2020-09-14 13:06] ntwrkguru commented on #1076
It doesn't answer your question, but this is pretty anti-pattern for automation tasks. Typically, one would use the `get_config` RPC and parse with XPATH to get the information desired.

[2020-09-15 15:23] dmtx97 commented on #1076
@ntwrkguru thank you I ended up doing this and it works great. My original intention was to check what ports have enabled yet link down status. I was able to parse it using Start Shell but wasn't sure if there is a way to use match flag parameter with spaces.

[2020-09-15 17:44] ntwrkguru commented on #1076
@dmtx97 In that case, I would use [table views](https://www.juniper.net/documentation/en_US/junos-pyez/topics/concept/junos-pyez-tables-and-views-overview.html).

[2020-09-16 04:16] #1076 closed

[2020-09-16 08:24] mahmutaydin1 opened #1077 "Installation problem of Pyez on Windows"
Hello Dear All,

I am trying to install Pyez module. I am using pycharm and trying to install from pycharm this  junos-eznc. However, I am receving some error.

could you please help me for this problem?

C:\Users\asus\PycharmProjects\Junos\venv\Scripts\python.exe C:/Users/asus/PycharmProjects/Junos/pyez.py
Traceback (most recent call last):
  File "C:/Users/asus/PycharmProjects/Junos/pyez.py", li

[2020-09-16 12:00] ntwrkguru commented on #1077
Please see issue #1015 for resolution involving changing the version of textfsm. Also, this is fixed in any commits after #1019, so consider updating the library.

[2020-09-16 16:28] mahmutaydin1 commented on #1077
Hi
ı installed textfsm. After that, when try to install junos-eznc, I receive below error.

Collecting junos-eznc
  Using cached https://files.pythonhosted.org/packages/2d/56/3a83765eb458b56725f254e80195d39151d32cfe45ea57c4deaa327fda83/junos_eznc-2.5.3-py2.py3-none-any.whl
Collecting ncclient>=0.6.3 (from junos-eznc)
Collecting jinja2>=2.7.1 (from junos-eznc)
  Using cached https://files.pythonhos

[2020-09-16 16:49] ntwrkguru commented on #1077
What version of Python are you using? Seems pretty old to have pip 10.0.1.

[2020-09-22 16:03] vnitinv commented on #1077
I am not able to replicate this @mahmutaydin1. As suggested by @ntwrkguru, try upgrading pip and let us now if you still face issue.
Also share pip list before running install for PyEZ.

[2020-09-22 17:55] mahmutaydin1 commented on #1077
upgrade to pip is not working guys.

[2020-09-22 19:02] ntwrkguru commented on #1077
@mahmutaydin1 Please post the output of `pip list` as well as `python -V`.

[2020-09-28 14:00] ntwrkguru opened #1079 "Unable to pass shell positional arguments"
Currently unable to pass positional arguments to the container instantiation for use by a called script.

From an email:

This is caused by the modified entrypoint taking only the first positional argument from the docker run.

[2020-09-28 16:55] #1079 closed

[2020-10-08 15:21] alexandrecorso opened #1082 "Config.diff() issue with `rsp` type"
I found a strange behaviour with Ansible, using PyEZ via Junos Module.

[code]

The module I use with ansible is this one:
[code]

On some devices - MX (Junos: 18.4R3-S5.4) I got an error on the modulee Config.diff
[code]

I check the value of `rsp` (via `return f"rsp: {type(rsp)}: {rsp}"` on the file https://github.com/Juniper/py-junos-eznc/blob/master/lib/jnpr/junos/utils/config.py, just before

[2020-11-12 12:16] qaxi opened #1089 "Deprecation warninig - collections import for python 3.3+, stop working on 3.9"
On python 3.8 there s deprecation warning
[code]

[2020-11-17 05:47] tirkarthi commented on #1089
This looks like a duplicate of https://github.com/Juniper/py-junos-eznc/issues/1033

[2020-11-20 05:33] #1033 closed

[2020-11-24 13:14] alexandrecorso commented on #1082
I have the issue with `Junos: 18.4R3-S5.4`

[2020-11-27 03:56] hyandell opened #1091 "License confusion"
Should the COPYRIGHT file have been deleted in this commit: https://github.com/Juniper/py-junos-eznc/issues/73 ?

At the moment there's both a LICENSE (Apache-2.0) and a COPYRIGHT (BSD-3-Clause).

Note also that the intent of the Apache-2.0 license is that the Juniper copyright is put in a NOTICE file and in source headers, not in the actual LICENSE file itself. Currently the LICENSE file has the

[2020-12-21 14:38] nitzan-tz opened #1092 "crpd 20.3R1.8 issue"
I am trying to connect to crpd  20.3R1.8 from pyez 2.5.4 but it give me error on crpd

`
root@automation-ng:~# python3 test_crpd.py
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/jnpr/junos/device.py", line 1347, in open
    self._conn = netconf_ssh.connect(
  File "/usr/local/lib/python3.8/dist-packages/ncclient/manager.py", line 168, in connect
    return conne

[2020-12-24 06:50] dineshbaburam91 commented on #1092
Kindly do port mapping for the cRPD container and retry the connection.

Reference doc:
https://www.juniper.net/documentation/en_US/crpd/information-products/pathway-pages/deployment/crpd-dep-guide-pwp.pdf

[2020-12-27 21:21] nitzan-tz commented on #1092
With a fresh container I solve it by adding to sshd_config
Subsystem netconf /usr/bin/netconf

[2020-12-27 21:21] #1092 closed

[2021-01-04 11:25] dangoscomb commented on #1082
I am having the same issue on 18.4R3-S6.3

`rpc.get_configuration(compare="rollback", rollback="0")`

on this version returns True for the above version when there are no changes, whereas on older versions it returns an Element with no text value. When there are changes an Element is returned with the text value populated as expected.

Suggest it checks for an Element as you allude to above.

`if

[2021-01-22 18:51] ckozler opened #1094 "question - junos vlan support"
Hi there -

I see in the support matrix table that vlan information for junos is not supported

I've actually begun implementing it on my own and was wondering if there was any particular reason napalm does not support it out of the box? Was that table/view not available when junos support was originally added to napalm or is there a reason you chose not to from a technical standpoint?

i.e you've

[2021-01-25 15:58] ckozler commented on #1094
Sorry, I commented on the wrong project. Closing

[2021-01-25 15:58] #1094 closed

[2021-01-26 17:15] dhanakane-tw opened #1095 "PyEZ not picking values from SSH config file when connecting to device."
I'm trying to interact with a device to perform a configuration fetch using the PyEZ library. This code works with other devices on the network (vSRX) with no problem. However, I receive the following error when trying to fetch configuration from an SRX345:

`jnpr.junos.exception.ConnectTimeoutError: ConnectTimeoutError(host_IP_address_removed)`

I can get this to work by replacing the `host` key

[2021-01-27 12:01] dhanakane-tw commented on #1095
Looks like the PTY allocation issue was a red herring. However, the connection fails due to PyEZ not picking up the SSH config file directive for `Hostname` and `User` and is trying to use what it's finding in the environmental variables instead.

[2021-01-27 18:51] kirillmasanov commented on #927
This problem is also relevant to me. There are several thousand Juniper devices on the network. I can't use scripts to collect information from each of them.

[2021-02-11 16:32] rahkumar651991 commented on #1082
The pull request #1093  is not a fix but a workaround added to pass this scenario. This is a bug in junos for certain releases. As I understand, it should be working fine in 18.4R3-S7.
The changes if done in PyEZ as mentioned in above link will let us allow multiple error-scenario as successful-scenario, so is not recommended.

One workaround can be done in playbook by modifying the task as
junipe

[2021-03-18 11:06] alexandreseitz opened #1097 "mac-address issue with junos-eznc python library"
I am using: junos-eznc   2.5.4

It seems that jnpr library change mac-addresses values, all my mac-addresses are changed to f4:cc:55....
for example, on a Juniper MX-104 device, my xe-0/0/0 interface has:
**Current address: 28:a2:4b:12:df:f0, Hardware address: 28:a2:4b:12:d8:00**

When I use jnpr library to display interface xe-0/0/0 it returns:
**Current address: f4:cc:55:a2:df:f0, Hardware addre

[2021-03-18 13:45] alexandreseitz commented on #1097
Sorry, it is an error on my side

[2021-03-18 13:45] #1097 closed

[2021-03-18 13:45] alexandreseitz commented on #1097
please ignore this issue

[2021-03-18 13:46] ntwrkguru commented on #1097
Have you considered using the `get-interface-information` RPC as opposed to throwing cli commands? Also, check out table views, as they are pretty handy for this type of situation.

[2021-03-24 18:53] dseira opened #1098 "Rollback rescue function not working as expected JunOS 19.4R3.11"
I'm playing with pyez to restore configuration from rescue but it is not working as expected with the JunOS 19.4R3.11 (also tried with JunOS 20.3R1).

The scenario is:

[code]

The code I am using is very simple:

[code]

The `pdiff` just shows the following:

[code]
To rollback to the rescue, the code is:

[code]
In both cases (router1 and router2) the `pdiff` show:

[code]
The strange behaviour

[2021-03-24 22:47] wilamike opened #1099 "Error "AttributeError: 'NoneType' object has no attribute 'group'" when installing software on switches with multiple RE"
Return error when calling pyEZ using Ansible module juniper.device.juniper_junos_software. It only happens for Juniper EX switch with more than 1 RE. The test unit is a Juniper EX4300 with 2 REs on OS 18.2R1.9.

[code]

After further troubleshoot, the list value in self._RE_list returned by the juniper device are:

localre
fpc0
fpc1

Will open a PR to fix the line 984 of jnpr/junos/utils/sw.py to

[2021-04-01 11:16] dseira opened #1100 "Internal error: Huge input lookup"
Trying to get configuration in json format from a Juniper that has a huge configuration file I get the following error:

[code]

The code is just the rpc `get_config`:

[code]

Trying the same in XML or TEXT doesn't fail:

[code]

The configuration from the JunOS CLI has the following lines count:

[code]

Also tried with `huge_tree=True` with the same result.

Any idea?

[2021-04-12 03:31] luckenbach opened #1102 "Lane information for ET interfaces"
I am attempting to extend the ask in #820 to create a more informative table via the following yaml but my 'lanes' value ends up empty.

[code]

I have tried various things in the `_LaneInfoTable` item ranging from `physical-interface/optics-diagnostics/optics-diagnostics-lane-values` to just `optics-diagnostics-lane-values`

[2021-04-12 15:35] vnitinv commented on #1102
@luckenbach Can you share XML o/p for given RPC `get-interface-optics-diagnostics-information`. That will help us suggest what changes this Table/View might require.

[2021-04-12 18:28] luckenbach commented on #1102
Hey @vnitinv Vnitinv i have shared these via an internal contact and he should be getting them to you ASAP :)

[2021-04-13 18:54] xerotolerance opened #1103 "cfgtable.get(key=...) Ignoring multiple key-fields. (semantics error in factory.cfgtable_encode_namekey)"
Walkthrough
----------------
1. Table objects are created by `FactoryCfgTable(table_name, data_dict)`, w/ `data_dict` containing the sections of the YAML spec. Ex (note the dict key ***'key-field'***):
[code]
2. `FactoryCfgTable` sets
[code]
3. `CfgTable`'s constructor sets
[code]
4. Eventually, `cfgtable.get()` calls
[code]
5. ***PROBLEM***: `_encode_namekey(...)` calls `self._data_dict.get(`***"

[2021-04-22 05:46] luckenbach commented on #1102
Appears as my original XML worked and my env was just not happy about something. Thanks for the help

[2021-04-22 05:46] #1102 closed

[2021-04-26 16:49] bnavigator opened #1109 "python 3.9 test failure: TestSW.test_sw_put_ftp"
The call representation changed (context manager):

py-junos-eznc 2.6.0
[code]

[2021-05-06 11:19] Reidy10 opened #1111 "The JSON output in any Juniper Ansible module will not display our config due to a certain line in our standard configuration causing JSONLoadError(reason: Invalid \\escape.....)"
I have come across an issue where a line of Juniper configuration on any of our SRX devices seems to clash and fail with any Ansible or Junos module when asking to display output as JSON. Unfortunately, it's not a simple case of changing our SRX config as this is on over 800 devices in production.

The Config from the SRX in question causing an issue is the following in set format:
`set system sys

[2021-05-07 10:54] fstolba commented on #1111
FWIW we're also hitting this bug. The offending line of config also involves backslashes:

`jnpr.junos.exception.JSONLoadError: JSONLoadError(reason: Invalid \escape: line 1365 column 36 (char 44820),
The offending config appears to be:
1363:                 "interfaces" : [
1364:                 {
1365:                     "name" : "lt-.*\..*"
1366:                 },
1367:                 {
`

[2021-05-10 12:34] ipmonk commented on #1100
Wondering if the json itself is ok. Have you tried doing 'show configuration | display json | save foobar', then reading in the file contents using json.load()? Does that work ?

[2021-05-10 16:04] asishbasu opened #1112 "Pyez telnet not working as expected in certain JUNOS enhanced devices"
Pyez telnet not working as expected in certain JUNOS enhanced devices. We are seeing login prompt 2 times.

#################### 0 ####################
INFO:jnpr.junos.tty:TTY: connecting to TTY:x.x.x.x ...
DEBUG:jnpr.junos.tty_telnet:Write:

INFO:jnpr.junos.tty:TTY: logging in......
DEBUG:jnpr.junos.tty_telnet:Got: b'\r\nLinux 4.8.28-WR2.2.1_standard-gf600f29 (re0) (pts/4)\r\n\r\ns0r_RE0 login: \

[2021-05-13 12:53] qqii opened #1113 "VlanTable returns no vlans"
Here are my steps to reproduce:

[code]

This is plainly false since when I use the CLI via ssh I get:

[code]

[2021-05-27 06:35] Larryun opened #1114 "rcp filter_xml not filtering"
I am trying reduce the response size using filter_xml in a rpc call,

For example, I can't get this code from documentation run on my end.
[code]
It returns the unfiltered xml.

pyez version: 2.6.0
Junos version:
[code]

[2021-05-27 07:39] #1114 closed

[2021-05-30 23:55] rahkumar651991 commented on #1082
Closing this issue as it is junos bug for certain releases and should work fine for newer releases.
The suggested fix will work for these releases but is a workaround and is not recommended as it will let us allow multiple error-scenario as successful-scenario.

[2021-05-31 00:03] #1099 closed

[2021-05-31 01:18] rahkumar651991 commented on #1113
Could you share the output of the following command -

*) ssh <user>@10.2.255.2 -s netconf
*) <rpc><get-vlan-information/></rpc>

[2021-05-31 01:18] rahkumar651991 commented on #1111
The issue seems to be same as #1029

[2021-05-31 07:18] rahkumar651991 commented on #1077
@mahmutaydin1 - closing this issue for now as it has been some time with no further discussion.
If issue still arrives you may re-open it or ope a new issue.

[2021-05-31 07:18] #1077 closed

[2021-06-01 03:17] #1029 closed

[2021-06-01 03:20] rahkumar651991 commented on #1100
@dseira  - Could you share the sc ript how huge_tree was passed. Huge_tree should have resolved this issue.

[2021-06-01 03:27] rahkumar651991 commented on #1095
@dhanakane-tw Could you share the below two output. If it is a large output you can share it at jnpr-community-netdev[at]juniper[dot]net

*) ssh \<user>@\<ip> -v
*) add these two line at top in your script and share the output. It will generate more debugging logs.
import logging
logging.basicConfig(level=logging.DEBUG)

[2021-06-01 03:45] rahkumar651991 commented on #1111
@Reidy10 - can you check if this resolve the issue for you. https://github.com/Juniper/py-junos-eznc/pull/1048/files

[2021-06-01 03:49] rahkumar651991 commented on #1109
@bnavigator - In Python3.9 some old python api's are no more supported. Working on it.

[2021-06-01 03:57] rahkumar651991 commented on #1089
closing as it is duplicate of #1033

[2021-06-01 03:57] #1089 closed

[2021-06-01 04:00] rahkumar651991 commented on #1073
@jameskirsop can you try with something like this

Host host_b
        User user
        Hostname 10.x.x.2
        Port 22
        ProxyCommand ssh -q -W %h:%p host-a

Host host-a
         User user
         Port 22
         Hostname 10.x.x.3

[2021-06-01 05:17] #1071 closed

[2021-06-01 05:28] rahkumar651991 commented on #1061
@pieterdejaeghere  - can you share the output for the following

*) ssh test@10.93.22.65 -s netconf
*) <rpc><get-ospf-neighbor-information><instance>all</instance></get-ospf-neighbor-information></rpc>

The rpc-reply of this and "show ospf neighbor instance all " is expected to be same as you have already checked the
"show ospf neighbor instance all | display xml rpc"

[2021-06-01 05:38] rahkumar651991 commented on #1039
@jutkarsh079  Try adding these lines in PyEZ script to get more logging.
import logging
logging.basicConfig(level=logging.DEBUG)

Marking this issue as inactive as no discussion has happened for long time. In case there is a related query, update it.

[2021-06-01 05:55] rahkumar651991 commented on #1002
@amitmi704  - Table-views end output may differ based on user requirements.
User may have to make minor changes to get results specific to their needs.
Here is a link to documentation for further help in this regard - https://www.juniper.net/documentation/en_US/junos-pyez/topics/concept/junos-pyez-tables-and-views-overview.html

As you have already made respective changes which fulfils your requir

[2021-06-01 05:55] #1002 closed

[2021-06-01 06:18] rahkumar651991 commented on #994
@zerowaitstate  - Based on the discussion on [484](https://github.com/Juniper/ansible-junos-stdlib/issues/484) , kwargs can be used in juniper_junos_software or PyEZ to pass "unlink : true " parameter.

Closing this issue.

[2021-06-01 06:18] #994 closed

[2021-06-01 06:19] rahkumar651991 commented on #982
Closing the issue as it seems to be resolved.

[2021-06-01 06:19] #982 closed

[2021-06-01 07:05] rahkumar651991 commented on #893
Based on last comments, looks to be a device issue. Closing the issue due to inactivity. Incase of similar or related issue, you may re-open it or raise a new issue.

[2021-06-01 07:05] #893 closed

[2021-06-01 07:06] rahkumar651991 commented on #887
Closing the issue due to inactivity.

[2021-06-01 07:06] #887 closed

[2021-06-01 07:14] rahkumar651991 commented on #815
Closing it due to inactivity.

[2021-06-01 07:14] #815 closed

[2021-06-01 07:16] rahkumar651991 commented on #812
Looks to be device issue, closing it here.

[2021-06-01 07:16] #812 closed

[2021-06-01 07:21] rahkumar651991 commented on #801
Closing the issue as the code changes seems to have been made for it.

[2021-06-01 07:21] #801 closed

[2021-06-01 07:41] rahkumar651991 commented on #927
Seems to be same issue as #780

[2021-06-01 07:44] rahkumar651991 commented on #766
Closing the issue as the internal PR seem to be resolved.

[2021-06-01 07:44] #766 closed

[2021-06-01 07:47] rahkumar651991 commented on #733
Closing the issue as this was raised to track the PR-1220777 and it has been closed.

[2021-06-01 07:47] #733 closed

[2021-06-01 07:54] rahkumar651991 commented on #684
Based on the end comments on #235, closing this issue.

[2021-06-01 07:54] #684 closed

[2021-06-01 08:05] rahkumar651991 commented on #650
Looks to be a device specific issue, due to inactivity closing this issue.
In case of related issue, you may re-open or raise a new issue.

[2021-06-01 08:05] #650 closed

[2021-06-01 08:14] pieterdejaeghere commented on #1061
The netconf command seems to provide all the info needed.

`<rpc><get-ospf-neighbor-information><instance>all</instance></get-ospf-neighbor-                                                                                                                                                             information></rpc>
<rpc-reply xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" xmlns:junos="http://x

[2021-06-01 08:36] rahkumar651991 commented on #678
This is a duplicate of #573 . We will use the older one as it has some discussion.
Closing this, based on that.

[2021-06-01 08:36] #678 closed

[2021-06-01 09:50] qqii commented on #1113
I never knew SSH had that feature so I hope I've done this right:

[code]

It looks as if it's outputted the correct stuff?

[2021-06-01 12:33] rahkumar651991 commented on #1061
@pieterdejaeghere - try this.
dev.rpc.get_ospf_neighbor_information({"format":"json"}, instance='all')

[2021-06-01 13:25] pieterdejaeghere commented on #1061
you're absolutely right 🤦

Sorry to have wasted your time and thanks for the help.

[2021-06-01 14:17] rahkumar651991 commented on #1061
@pieterdejaeghere - Good to know that issue is resolved.

Closing this issue. In case of any related issues feel free to open a new issue.

[2021-06-01 14:17] #1061 closed

[2021-06-01 17:46] rahkumar651991 commented on #1082
As discussed in #1093 will keep this open and add a check for error-handling for such scenario.

[2021-06-01 22:14] hyandell commented on #1091
Less concerns and more that it's confusing.

Is it that:

    License: Pieces of the project are under Apache-2.0 and pieces are under BSD-3-Clause.

In which case I'd suggest renaming LICENSE to LICENSE-Apache-2.0 and COPYRIGHT to LICENSE-BSD-3-Clause to show they are equal. Extra points if it's possible to point to which pieces are licensed under which, but not huge given those licenses are fair

[2021-06-03 11:37] rahkumar651991 commented on #1113
@qqii  -
The netconf output seen above is bit different in structure from the syntax written in the VlanTable.
Juniper provides custom written tables and views but based on user-requirements some changes needs to be done for specific outputs. User can write their own tables for a specific rpc to get desired results.
Refer this link to get to know more about this - https://www.juniper.net/documenta

[2021-06-03 13:53] BeTheMike opened #1117 "rpc.get_confg incorrectly parsing XML"
I have a function that among other things, grabs a current, committed version of the config in set format:

Original Code:

[code]
I noticed when doing this, it wasn't correctly parsing the "<*>" from my config:

[code]

I attempted to do the same with the code direction from the documentation:

[code]

And have gotten the same issue:

[code]

Is there something wrong with my process here?  It cou

[2021-06-04 14:38] rahkumar651991 commented on #1117
@BeTheMike  - this is a device specific error so will need some more information.

Can you share the netconf logs captured at the device during this execution? In case you have some sensitive data you don't want to share here, you may hide it and share it at jnpr-community-netdev[at]juniper[dot]net
Refer this for more details- https://www.juniper.net/documentation/us/en/software/junos/junos-xml-pr

[2021-06-04 15:21] BeTheMike commented on #1117
@rahkumar651991

I have now replicated this on multiple pieces of equipment (QFX10k and EX4300).    I will work on getting you the netconf logs and scrub as necessary.

As far as your second question - I did just try this on the 4300:

[code]

[2021-06-07 14:02] attila123 opened #1118 "device.rpc.whatever() rpc results do not contain the exact error, so they are less usable than device.cli()"
junos-eznc==2.6.1 with current latest (transitive) dependencies.

Problem is that while device.cli() usage is discouraged, it is the one which reports correct error messages, while the device.rpc.whatever() calls do not seem to return any information about errors when they happen.

One example of the several ones.
In my code I used

[code]
which worked correctly. Also if the cert was already loade

[2021-06-08 02:39] anee-git opened #1119 "commit_check() does not catch rpc-errors of warning severity"
The following does not raise an exception for commits that are successful with a warning; for example a warning for a mandatory reboot, following commit.
[code]
Because of the above behavior, the following condition in the commit_check() code,  (if err.rsp is not None and err.rsp.find("ok") is not None:) is never met:
[code]
Is this expected behavior ? How can I catch a commit warning in a success

[2021-06-08 20:44] paulinster opened #1120 "junos-eznc does not appear to be currently installed"
Hi,
Not sure if this is the right place to post, but when I try to run the module "juniper_junos_config" it does complain that the module junos-eznc is needed

[code]

I check and the module is installed..
[code]
I have also tried to downgrade junos-eznc to 2.54 and even 2.5.0 and still didn't get it to work ..

Thanx for you help!

[2021-06-08 20:58] paulinster commented on #1120
Nevermind I did search and find issues #1051 which was exactly the same case as me.
Adding the following line solve my issue...

INTERPRETER_PYTHON = /Library/Frameworks/Python.framework/Versions/3.9/bin/python3

Thanx!

[2021-06-08 20:58] #1120 closed

[2021-06-09 10:28] attila123 commented on #1118
Ooops, looks like I need to "decode" the result of the rpc calls, such as

https://www.juniper.net/documentation/en_US/junos-pyez/topics/task/program/junos-pyez-rpcs-executing.html

mentions in an example:

    print(etree.tostring(sw, encoding='unicode'))

So closing this issue now, I am trying this solution.

[2021-06-09 10:28] #1118 closed

[2021-06-09 12:54] BeTheMike commented on #1117
Here you go @rahkumar651991

[code]

[2021-06-09 18:22] rahkumar651991 commented on #1117
@BeTheMike  - i just tried to set below in my device
[code]

On executing the
[code]

got output like below
[code]

Afterwards, I created a simple script -
[code]

The output seen on the machine displayed the output as expected. Adding an excerpt here -

```set system services netconf traceoptions flag all\nset system syslog file &lt;*&gt; archive\n```

I am not seeing the error with my device. Wi

[2021-06-09 19:39] BeTheMike commented on #1117
So @rahkumar651991 - Is the expectation to not parse the "<*>" and instead output "&lt;*gt;" ?

[2021-06-10 05:00] rahkumar651991 commented on #1119
@anee- Can you share the netconf logs captured at the device for the scenario and highlight the warning in it so we can understand the issue better and try to replicate it locally.

Refer the link for more information -
https://www.juniper.net/documentation/us/en/software/junos/junos-xml-protocol/topics/example/netconf-traceoptions-configuring.html

[2021-06-10 14:05] Reidy10 commented on #1111
Hi @rahkumar651991

Apologies for the delay, I have been away. I have changed the line in device.py to Strict=False but unfortunately I am still getting the same sort of error:

`                try:
                    return json.loads(rpc_rsp_e.text, strict=False)
                except ValueError as ex:
                    # when data is {}{.*} types
                    if str(ex).startswith("

[2021-06-11 13:39] rahkumar651991 commented on #1117
@BeTheMike  - There was some confusion in my understanding of the issue.
I re-checked and talked with my team. As of now, this is how the device will be returning the values. Characters like (<,>,etc) need to be translated for xml format to maintain readability. However, as you have mentioned "format=set", it shouldn't have been modified. This seem to be a limitation at the device.

The workaround

[2021-06-18 16:27] anee-git commented on #1119
@rahkumar651991
Below is my execution code snippet and I've attached the relevant netconf logs as a .docx with the error highlighted.

I tried modifying my local imported copy of the module containing commit_check() to see if the execution enters the RpcError Exception that I'd pointed out in my issue above, but it doesn't.

[code]

[netconf-ops.log.docx](https://github.com/Juniper/py-junos-eznc/f

[2021-06-23 07:21] rahkumar651991 commented on #1119
@anee-git - The commit function is written in a way that if <ok/> is returned in the rpc-reply then this means there are warnings, but no errors and the return type will be a boolean(true). the commit() api itself is raising the RpcError and handling it. It doesn't raise the RpcError to Python script if it only receives warning with an <ok/> in rpc-reply.

In case you want warning as part of retur

[2021-06-24 07:36] codot-fr opened #1122 "Table field mapping bug for applications data"
Hello,

I encounter a bug with the table mecanism.

junos-eznc==2.6.1

Here's my json definition for the table
[code]

When I retrieve the data :
[code]

The 'name' field isn't mapped to the 'description' field but to the 'name' field.
[code]
The real data from the cli is :
[code]

[2021-07-05 12:55] codot-fr commented on #1122
Update : there seem to be a mixup here.

When I use "name: description" to map the 'description' parameter to the 'name' var, the algorithm doesn't care about the parameter and map the 'name' var to the 'name' parameter.

`bfe098fb-e723-4780-a7c0-45dd38133431:[('id', 'bfe098fb-e723-4780-a7c0-45dd38133431'), ('name', 'bfe098fb-e723-4780-a7c0-45dd38133431'), ('protocol', 'tcp'), ('destination_port',

[2021-07-11 18:48] rahuluk86 opened #1125 "Junos Evolution - Routing engine info is not populated in device facts"
Routing engine info/serial number etc. are not populated with correct information in device facts from device running Junos Evolution. This issue seem to only affect Modular chassis.

This is with junos-eznc 2.6.1

**Example output from Modular Chassis running Junos Evo device:**

[code]

**Example output from FreeBSD Junos device:**

[code]

**Example output from Fixed Chassis running Junos Evo:*

[2021-07-11 20:36] rahuluk86 commented on #1125
It doesn't look like a PyEZ issue. The XML returned by device seems to have an invalid URI when we use limited s/w version.

[code]

[2021-07-11 20:36] #1125 closed

[2021-07-12 13:03] #1112 closed

[2021-07-28 05:44] rahkumar651991 commented on #1117
Closing this due to inactivity.

[2021-07-28 05:44] #1117 closed

[2021-07-28 05:45] rahkumar651991 commented on #1119
Closing this ticket as there are no follow up queries.

[2021-07-28 05:45] #1119 closed

[2021-07-28 05:48] rahkumar651991 commented on #1057
closing due to inactivity.

[2021-07-28 05:48] #1057 closed

[2021-07-28 05:49] rahkumar651991 commented on #1049
closing due to inactivity

[2021-07-28 05:49] #1049 closed

[2021-07-28 05:49] #1039 closed

[2021-07-28 05:52] rahkumar651991 commented on #929
closing due to inactivity

[2021-07-28 05:52] #929 closed

[2021-07-28 21:02] JorisvDumper commented on #1100
Hi,

I am facing the same issue with large vpls mac-tables.

`/usr/local/lib/python3.8/dist-packages/jnpr/junos/device.py:857: RuntimeWarning: An unknown exception occurred - please report.
  warnings.warn(
internal error: Huge input lookup, line 433400, column 1 (<string>, line 433400)`

using this code
[code]

With XML there are no problems, this code works on other devices with smaller vpls-mac

[2021-08-05 21:42] ekoyle opened #1128 "exception raised on rollback when warnings are present in config"
I am attempting to push a configuration to a device (ie. load override), do a diff, then rollback the configuration.  The rollback is raising an exception and does not have the ignore_warning parameter available.

The configuration I'm pushing is generating warnings (`warning: 25g config will be applied to ports 0 to 3` when setting port speed to 25g on 0/0/0 on a QFX5120-48Y, junos 18.4R2-S4).  T

[2021-08-06 21:51] hyandell commented on #1091
Confirming that the merged commit has removed the BSD confusion.

The COPYRIGHT file is still a bit odd; it has an Apache-2.0 license statement and then has the leftover BSD no-warranty paragraph. The Apache-2.0 license text has the same concept, but not with that text.

[2021-08-21 06:29] vutuong opened #1130 "Unable to gather RPC aps information using interface name"
Hi I am trying to use PyEZ to to create an automation script.
My goal is save response from "show aps interface" with interface name in a variable. But I found that there is a bug that result in a mismatch between xml schema and pyez lib.
When I show rpc in device I got:
[code]
But when I pass the interface name in a variable as following:
[code]
I got this error:
[code]
- I think problem is the l

[2021-08-22 20:11] moophat commented on #1130
Hi Team,
Let me clarify a bit:

- There are several instance instance in pyez codes in which **replace('_', '-')** happen, one way or another (sometime with **re.sub**, sometime with **replace** and so on)
- In theory, XML schema of these data/rpc is defined by developers that handle different features in the Junos OS and should be respected by any centralized operation. This implementation has an

[2021-08-24 07:27] rahkumar651991 commented on #1128
Can you check pull request 1131, if that works for you?

[2021-08-24 07:37] rahkumar651991 commented on #1130
Hi,

Underscore shouldn't be present in the configuration. It is a generic behaviour across junos devices and PyEZ(junos-eznc) is written accordingly.  Let me check this with the team.

Meanwhile you can try this workaround. Let me know if this works.
[code]

[2021-08-24 07:38] rahkumar651991 commented on #1113
closing this due to inactivity.

[2021-08-24 07:38] #1113 closed

[2021-08-24 07:52] vutuong commented on #1130
This workaround works for me.

[2021-08-29 20:57] moophat commented on #1130
Hi Rahul,
Thank you for the heads up, I'm aware that junos config schema usually do not come with underscore so I was wondering if that was the cause and ask Tuong to wait for further update before amending the lib.
However in case it happen (this is the third time we see it if I remember correctly, last time was QoS), even if we go through JTAC the only action they can take is taking it up to the

[2021-08-30 17:00] ktbyers commented on #1073
FYI, here is what I do in Netmiko for ProxyJump (Paramiko under the hood).

It only works with a single ProxyJump host, however:

https://github.com/ktbyers/netmiko/blob/develop/netmiko/base_connection.py#L904

You are welcome to reuse in PyEz if it helps.

[2021-09-16 06:55] rahkumar651991 commented on #1100
Closing it due to inactivity.

[2021-09-16 06:55] #1100 closed

[2021-09-16 06:56] rahkumar651991 commented on #1069
closing due to inactivity.

[2021-09-16 06:56] #1069 closed

[2021-09-16 06:56] rahkumar651991 commented on #619
closing due to inactivity.

[2021-09-16 06:56] #619 closed

[2021-09-16 06:58] #1091 closed

[2021-09-16 06:58] rahkumar651991 commented on #1095
closing due to inactivity.

[2021-09-16 06:58] #1095 closed

[2021-09-16 07:04] rahkumar651991 commented on #1082
closing this based on https://github.com/Juniper/py-junos-eznc/pull/1116

[2021-09-16 07:04] #1082 closed

[2021-09-16 07:07] rahkumar651991 commented on #863
closing this as https://github.com/Juniper/py-junos-eznc/pull/868 is merged.

[2021-09-16 07:07] #863 closed

[2021-09-16 10:34] rahkumar651991 commented on #1130
hi @moophat

We don't recommend such changes to hide a bug. Let me know if anything else is required or we can close this issue for now?

[2021-09-16 10:38] #1128 closed

[2021-09-16 10:43] rahkumar651991 commented on #921
Based on different scenario, people might need to open device again(refer saltstack,junos-proxy). So we will not be supporting this as it might impact customer use-case.

[2021-09-16 10:43] #921 closed

[2021-09-16 11:00] rahkumar651991 commented on #847
As per the comment on https://github.com/Juniper/py-junos-eznc/pull/848 .
closing this.

[2021-09-16 11:00] #847 closed

[2021-09-21 09:10] rahkumar651991 commented on #667
Based on the comments, context manager should handle the lock and unlock during config change.
Marking it as inactive.

[2021-09-21 09:15] rahkumar651991 commented on #651
Based on the Pull request linked to the issue, the issue seem to have been resolved.
Marking it as inactive. Will close it in some time.

[2021-09-26 05:23] fishert123 opened #1133 "ConfigLoadError(severity: error, bad_element: None, message: error: SSL support disabled"
I have three switches. One is QFX5100, the other two are vQFX.
I have the following codes:
httpscmd = 'https://10.10.10.10/junosConfig/' + UPDATEFile
cu.load(url=httpscmd,format='set')

QFX5100 works fine, but vQFX got the following:

Unable to load configuration changes: ConfigLoadError(severity: error, bad_element: None, message: error: SSL support disabled
error: fetch: https://10.10.10.10/juno

[2021-10-06 15:31] #667 closed

[2021-10-06 15:32] rahkumar651991 commented on #996
closing due to inactivity

[2021-10-06 15:32] #996 closed

[2021-10-12 04:09] rahkumar651991 commented on #1133
This is mostly a device configuration issue as displayed in error. Share us the configuration statement which is failing and the snippet of netconf logs captured on device where the error comes. We will look into it but not sure about this issue as not the right place for this query.

For netconf logs - https://www.juniper.net/documentation/us/en/software/junos/junos-xml-protocol/topics/example/ne

[2021-10-12 06:09] rahkumar651991 commented on #1103
Can you share the netconf logs for this example. Need full configuration to replicate the scenario and verify it.

Refer here -https://www.juniper.net/documentation/us/en/software/junos/junos-xml-protocol/topics/example/netconf-traceoptions-configuring.html

[2021-10-28 18:28] blkangl opened #1135 "Cluster ID of 16 fails to properly identify as node0 or node1 in current_re"
https://github.com/Juniper/py-junos-eznc/blob/9b6a706b28d9be081c036931822ed0f92085b29c/lib/jnpr/junos/facts/current_re.py#L69

When we have a cluster ID of "16", the new code returns cluster_id_octet as "0"... but the ip of node1 is 130.16.0.1. Did something change in junos that breaks this new code? From what I see, this new code will always return cluster_id_octet as '0' when the id is 16 (or an

[2021-11-17 06:26] chidanandpujar commented on #1135
Verified the above fix ,with cluster_id 2 and cluster_id 16  ,for both the cluster ids , the above fix works fine and current_re  vlaues are populated according to cluster node details .

I will continue the testing for few more cluster id values and update the results .

from jnpr.junos import Device
from pprint import pprint

device = Device(host='xx.xx.xx.xx', user='xyz', password='zyx')
device

[2021-11-17 11:19] chidanandpujar commented on #1135
Verified the fix for cluster id values 16, 2, 17, 15, 32, 255 and it works fine and returns the current_re  values for node0 and node1 .

from jnpr.junos import Device
from pprint import pprint

device = Device(host='xx.xx.xx.xx', user='xyz', password='xyz')
device.open()

print("srx cluster id value {}".format(device.facts["srx_cluster_id"]))

pprint(device.facts["current_re"])

[2021-11-17 16:34] chidanandpujar commented on #1135
fix is under review - https://github.com/Juniper/py-junos-eznc/pull/1137

[2021-11-19 07:34] shigechika opened #1138 "safe_copy sometimes timeout"
I like safe_copy design that do local/remote checksum and copy and verify remote.
but safe_copy fail sometime timeout cause by RpcTimeoutError.
I try to increase checksum_timeout value 300(default), 600, 900(now), but does not resolve now.

I guess that the COPY is always works well but after the COPY, REMOTE CHECKSUM sometimes timeout...😭

[code]

Do you have any idea to fix?💡

[2021-11-26 21:52] blkangl opened #1142 "RPC Returns "syntax error""
This basic python script will show the issue. Please note that there is an SSH key in this user's .ssh folder that is authorized on the firewall, so credentials are not required for us.

Notes: This is a CLUSTERED firewall (RPC works fine on non-clustered).
Juniper support case 2021-1116-363294 has been opened for this issue to check the Juniper software side. This case includes the rsi from the f

[2021-11-27 10:13] chidanandpujar commented on #1138
Hi ,
could you please try with checksum algorithms sha1 or sha256 and checksum options .

from jnpr.junos import Device
from jnpr.junos.utils.sw import SW

dev = Device(host='xx.xx.xx.xx', user='xyz', password='xyz', gather_facts=False)
dev.open()

try:
   sw = SW(dev)
   result = sw.safe_copy(
            package="xyz.vmdk",
            remote_path="/var/tmp",
            progress=True,

[2021-11-29 09:14] adilnawaz3012 opened #1143 "PyEZ is gathering facts even after setting gather_facts argument to False"
from jnpr.junos import Device
from jnpr.junos.utils.config import Config
dev = Device(host='IP', user='user', password='password', gather_facts=False)
dev.open()
print(dev.facts)

Still after setting setting gather_facts argument to False, PyEZ is gather the facts.

PyEZ Version:  2.6.2

[2021-11-30 06:41] adilnawaz3012 commented on #1143
Closing this issue, as this is the expected behaviour of PyEZ.

[2021-11-30 06:41] #1143 closed

[2021-12-08 04:43] shigechika opened #1144 "srx1500 always install failure"
I try to install firmware to srx1500. but always failure😭
I used on 18.4R3-S9.2 and 19.4R3-S2.2. but both firmware are failed.
I have succeeded srx300/345, ex, qfx and mx blow algorithm.
- source
[code]
- output
[code]
- show log netconf
[code]
- dev.facts
[code]

[2021-12-09 06:01] shigechika commented on #1144
I have updated PyEZ from 2.6.0 to 2.6.3.
This issue could resolve😀
Thank you.

[2021-12-09 06:01] #1144 closed

[2021-12-15 04:11] #953 closed

[2021-12-15 04:12] chidanandpujar commented on #953
Expected behavior when ephemeral instance is not configured or empty , the rpc open-configuration by design returns empty tags , this can not be handled in lxml.etree , so you can handle this behavior using try and except .
[code]
python3 eph_bug1.py
Ephemeral instance is empty or not configured on the Device

[2021-12-15 06:33] chidanandpujar commented on #1142
Hi ,

this looks to be related to RPC issue , rpc execution fails on the SRX cluster.
This is junos issue , RPC fails with following errors

<nc:hello xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
   <nc:capabilities>
    <nc:capability>urn:ietf:params:netconf:base:1.0</nc:capability>
    <nc:capability>urn:ietf:params:netconf:capability:candidate:1.0</nc:capability>
    <nc:capability>urn:i

[2021-12-16 07:15] chidanandpujar commented on #1133
Hi ,

I am able to reproduce this issue on vQFX and load works fine with http and fails with following error for https

Traceback (most recent call last):
  File "issue_1133.py", line 7, in <module>
    cu.load(url=httpscmd,format='set')
  File "/usr/local/lib/python3.5/dist-packages/jnpr/junos/utils/config.py", line 584, in load
    return try_load(rpc_contents, rpc_xattrs, ignore_warning=ignore_

[2021-12-16 15:21] chidanandpujar commented on #1133
Hi @fishert123 ,

Issue looks to be related to RPC and RPC fails with following errors for https url on vQFX ,please file JUNOS defect/case to track this issue .
[code]

Thanks & Regards
Chidanand

[2021-12-17 08:22] chidanandpujar commented on #970
Hi @lumi-pwhitney

This request is fixed in Release 2.4.0 , so closing the issue .

Release 2.4.0 - 1 APRIL 2020
Features Added

    Added timeout support for commit_check() #998

Thanks & Regards
Chidanand

[2021-12-17 08:22] #970 closed

[2021-12-17 11:48] chidanandpujar commented on #1142
Hi @blkangl

Thanks for reporting the issue, I have submitted JUNOS PR -1638653 to track the issue and closing this PyEz issue .

Thanks & Regards
Chidanand

[2021-12-17 11:48] #1142 closed

[2021-12-17 16:34] chidanandpujar commented on #1133
Hi @fishert123

   Thanks for reporting the issue , I have submitted JUNOS PR to track the RPC failure and closing this issue .

Thanks & Regards
Chidanand

[2021-12-17 16:34] #1133 closed

[2021-12-18 23:23] fishert123 commented on #1133
thanks a lot !!

On Fri, 17 Dec 2021 at 08:34, chidanandpujar ***@***.***>
wrote:

[2021-12-20 05:42] chidanandpujar commented on #424
Hi @XioNoX

  Thanks for reporting the issue,  load patch option is implemented and released in 2.4.0 ,so closing this issue.

Release 2.4.0 - 1 APRIL 2020
Features Added

    Added load patch support #1001

Thanks & Regards
Chidanand

[2021-12-20 05:42] #424 closed

[2021-12-31 08:19] chidanandpujar commented on #940
Hi @dpizzle

Please verify with 2.6.2 version
junos-eznc                             2.6.2

[code]

Thanks & Regards
Chidanand

[2022-01-06 17:30] SteveRodrigue opened #1149 "juniper.device.config: Crash on escape character(s) being present in the config."
Excerpt of configuration that is causing the issue:

[code]

Task that is crashing:

[code]

I just recreated my virtual environment to ensure I was running the latest of everything. From pip3 freeze command:
[code]
I've also installed juniper.device collection using ansible-galaxy. Ansible galaxy reports having juniper.junos 2.4.3 installed. Here is the content of the version.py file in the colle

[2022-01-11 22:42] bnavigator commented on #1109
Still an issue with Python 3.10

[2022-01-19 13:08] gmazoyer opened #1150 "Failure parsing ASN in AS-dot notation"
I have recently faced an issue where a Juniper MX was returning peer AS for some BGP sessions in the AS-dot notation. My code was was therefore failing because it appears that the parsing of an ASN in AS-dot notation does not work. See the following stack trace:

[code]

On the MX itself, looking at the `show bgp neighbor` output we see:

[code]

As the stack trace shows, the code fails to parse t

[2022-01-25 12:15] sadsfae opened #1151 "[RFE] Package python3-junos-eznc into RPM"
This is an RFE for providing `python3-junos-eznc` packaged into an RPM format.  This would make the library easier to consume on production EL systems where using `pip` or non-system packages is generally frowned upon.

You can automate it fairly easy using Github actions and the Fedora COPR service.  We are doing this in another project here https://github.com/redhat-performance/badfish/commit/00

[2022-01-25 12:45] ydnath commented on #1151
We will evaluate it and get back.

[2022-01-31 10:53] ydnath commented on #1151
@sadsfae Please send a pull request

[2022-02-03 21:33] nskalis opened #1153 "please upgrade ncclient version"
Hi,

In the `requirements.txt` file there is a comment
[code]

Looking at the [releases](https://github.com/ncclient/ncclient/releases) page of the `ncclient` project it seems that any problems should be resolved since 29 May 2021 (in `0.6.12`).
[code]

Would you be so kind to confirm the fix and release the new version of `PyEZ` on PyPI?

Right now, it is impossible for a network running *juniper

[2022-02-08 14:35] itheodoridis commented on #1153
I am having the same problem, trying to install nornir-netconf which requires at least ncclient 0.6.12, while py-junos-eznc enforces ncclient 0.6.9. I don't have even have juniper on my network.
Please resolve this matter.

[2022-02-11 09:01] surfer190 opened #1154 "Getting Inherited JSON config raises a JSONLoadError"
When getting the inherited config on a router as json from the committed db a JSONLoadError is raised. When getting the non-inherited config it works fine.

Environment:

    Python 3.8.2
    junos-eznc==2.6.3

Rpc executed:

[code]

Error:

[code]

Getting the non-inherited config works without error:

[code]

Is the way I am calling it incorrect?

[2022-02-11 15:48] stacywsmith commented on #1154
You're not doing anything wrong. This looks like a JunOS bug, not a PyEZ bug. The device is producing invalid JSON when displaying the inherited config. Specifically, line 12 in the above output `"host-name" : "my-hostname-re0"` is missing the trailing `,`.

I'd recommend opening a case with JTAC for the JunOS bug.

If you need a workaround with your current JunOS versions, I'd suggest getting the

[2022-02-11 16:07] surfer190 commented on #1154
Understood.
I will do that. Thank you.

[2022-02-16 10:46] sadsfae commented on #1151
Looking at your `requirements.txt` there's a dependency on python3-transitions which isn't packaged in EL/Fedora yet. - https://github.com/Juniper/py-junos-eznc/blob/master/requirements.txt#L13

We're going to see about packaging `python3-transitions` for EPEL/Fedora first, so anyone using EL-based distributions won't have package dependency issues _(Fedora, RHEL, CentOS Stream, Rocky, Alma, etc).

[2022-02-17 05:05] chidanandpujar opened #1155 "replace windows requirements "pycrypto" with "pycryptodome""
Hi ,

The Windows requirements lists "pycrypto" which is outdated and has issues .
You should replace it with the "pycryptodome" package which provides the same functions but is still maintained.

Thanks
Chidanand

[2022-02-21 16:50] chidanandpujar commented on #1155
older version of parmiko requires pcrypto package and latest version of parmiko requires bcrypt , so please upgrade the paramiko to get rid if pcrypto package .

pip install paramiko==1.5.4
Collecting paramiko==1.5.4
Collecting pycrypto>=1.9 (from paramiko==1.5.4)
junos-eznc 1.2.1 has requirement paramiko>=1.15.2, but you'll have paramiko 1.5.4 which is incompatible.
ncclient 0.6.12 has requiremen

[2022-02-21 16:50] #1155 closed

[2022-02-24 10:23] balasankarrajaguru opened #1157 "Unit Test fails with lxml lxml-4.8.0"
Issue :
root@8dc26d52d0d6:/content/tmp/pyez/tests/unit# nosetests -v tests.unit.factory.test_table.TestFactoryTable
test_config_constructor (tests.unit.factory.test_table.TestFactoryTable) ... ok
test_table_hostname (tests.unit.factory.test_table.TestFactoryTable) ... ok
test_table_is_container (tests.unit.factory.test_table.TestFactoryTable) ... ok
test_table_repr_xml_none (tests.unit.factory.tes

[2022-02-24 19:11] georgjackson opened #1158 "PYEZ on VTY SHELL on PTX5K platform - Syntax error at 'echo'"
We are testing Python script with PYEZ on PTX5k platform.
Could you please help if you know what can cause this behavior ?

What I noticed if I execute same command in the loop – sometimes I am getting response and sometimes Syntax error at `echo'.

def execution():
    with StartShell(dev) as ss:
        ss.run('vty fpc0')
        time.sleep(1)
        with open('/Users/dbalyura/Downloads/testtes